<style>
  input::-webkit-input-placeholder{ color:#fff ;}		/* 使用webkit内核的浏览器 */
  input:-moz-placeholder{color:#fff ;}									/* Firefox版本4-18 */
  input::-moz-placeholder{color:#fff ;}									/* Firefox版本19+ */
  input:-ms-input-placeholder{color:#fff ;}					 /* IE浏览器 */
</style>
<div class="container-fluid pr" :style="{height:height + 'px',background:bg , backgroundSize:size}">
  <div class="row p-t-p20 text-center">
    <div class="col-12">
      <img src='../../../skins/img/bg_01.png' class="img-fluid w-50">
    </div>
  </div>
  <div class="container-fluid text-center">
    <form action="#" class="w-85 pa t-25 text-center p-t-p6">
      <div class="input-group h-50 lh-50">
        <span class="input-group-addon icon border-0 bg-rgba-fff t-c-white p-t-p5 f-s-f18" id="basic-addon1">&#xe745;
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </span>
        <input type="text" class="from-control w-100 in-out br-right bg-rgba-fff t-c-fff" placeholder="请输入账号" v-model='list.username' readonly>
      </div>
      <div class="input-group mt-3 h-50 lh-50">
        <span class="input-group-addon icon border-0 bg-rgba-fff t-c-white p-t-p5 f-s-f18" id="basic-addon1">&#xe74f;
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </span>
        <input type="password" class="from-control w-100 in-out br-right bg-rgba-fff t-c-fff" placeholder="请输入密码" id='new' v-model='user.newpassword'>
      </div>
      <div class="input-group mt-3 h-50 lh-50">
        <span class="input-group-addon icon border-0 bg-rgba-fff t-c-white p-t-p5 f-s-f18" id="basic-addon1">&#xe74f;
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </span>
        <input type="password" class="from-control w-100 in-out br-right bg-rgba-fff t-c-fff" placeholder="请确认密码" id='psd'>
      </div>
      <div class="text-center">
        <a href='javascript:void(0)' class="btn bg-00b mt-4 w-100 t-c-white h-h50 lh-32" @click='forget'>保存</a>
        <span class="text-right db f-s-8 t-c-fff mt-3">点击保存，请使用新密码登陆</span>
      </div>
    </form>
  </div>
</div>

<!--失败弹层-->
  <div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail'>
    <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
    <p class="weui-toast__content">两次密码不一致</p > 
  </div>

<!--失败弹层-->
  <div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail1'>
    <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
    <p class="weui-toast__content">对不起，您输入的原密码有误！</p > 
  </div>

<script>
new Vue({
  el: '#app',
  data: {
    user: {},
    height:'',
    bg:'url(../../../skins/img/bg.jpg) no-repeat',
    size: '100% 100%',
    list:{},
  },
  mounted(){
      this.height = document.body.scrollHeight
      this.ajax.get('/company/test/detail',(res)=>{
        this.list = res.data[0]
      },(err)=>{
        weui.toast(err.errmsg)
      })
    },
  methods: {
    forget () {
      let first = $('#new').val()
      let psd = $('#psd').val()
      if(first != psd){
        document.getElementById('fail').style.display = 'block'
        setTimeout("document.getElementById('fail').style.display='none'",1500)
        return
      }
      this.ajax.put('/company/change',this.user, (res) => {
        weui.toast('修改成功', 1500)
        setTimeout("window.location.href='/front/login/login'",1500)
      }, (err) => {
        document.getElementById('fail1').style.display = 'block'
        setTimeout("document.getElementById('fail1').style.display='none'",1500)
      })
    }
  }
})
</script>