<div class="container-fluid pr" :style="{height:height + 'px',background:bg , backgroundSize:size}">
  <div class="row">
    <div class="col-12 text-right p-t-p6">
      <a href="/front/login/register" class="t-c-white f-s-8">还没账号? 注册</a>
    </div>
  </div>
  <div class="row p-t-p20 text-center">
    <div class="col-12">
      <img src='../../../skins/img/bg_01.png' class="img-fluid w-50">
    </div>
  </div>
  <div class="container-fluid text-center">
    <form action="#" class="w-85 pa t-30 text-center p-t-p6">
      <div class="input-group h-50 lh-50">
        <span class="input-group-addon icon border-0 bg-rgba-fff t-c-white p-t-p5 f-s-f18" id="basic-addon1">&#xe745;
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </span>
        <input v-model='user.username' type="text" class="from-control w-100 in-out br-right bg-rgba-fff t-c-fff inputColor" id="username" placeholder="请输入账号" >
      </div>
      <div class="input-group h-50 lh-50 mt-3">
        <span class="input-group-addon icon border-0 bg-rgba-fff t-c-white p-t-p4 f-s-f18" id="basic-addon1">&#xe74f;
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1 m-t-3"></span>
        </span>
        <input v-model='user.password' type="password" class="from-control w-100 in-out br-right bg-rgba-fff t-c-fff inputColor" id="password" placeholder="请输入密码">
      </div>
      <div class="text-center">
        <a href='javascript:void(0)' class="btn bg-00b mt-5 w-100 t-c-white h-h50 lh-32" @click='login'>登陆</a>
        <a href="/front/login/forget_psd" class="text-right db f-s-8 t-c-fff mt-3" style='color:#fff'>*忘记登陆密码</a>
      </div>
    </form>
  </div>
</div>

<!--失败弹层-->
    <div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail'>
      <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
      <p class="weui-toast__content">请输入账号</p > 
    </div>

<!--失败弹层-->
    <div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail1'>
      <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
      <p class="weui-toast__content">请输入密码</p > 
    </div>

<!--失败弹层-->
    <div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail2'>
      <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
      <p class="weui-toast__content">账号或密码错误</p > 
    </div>

<script>
new Vue({
  el: '#app',
  data: {
    user: {},
    height:'',
    bg:'url(../../../skins/img/bg.jpg) no-repeat',
    size: '100% 100%',
  },
  mounted(){
      this.height = document.body.scrollHeight
    },
  methods: {
    login () {
      let username = $('#username').val()
      let password = $('#password').val()
      if(username == ''){
        document.getElementById('fail').style.display = 'block'
        setTimeout("document.getElementById('fail').style.display='none'",1500)
        return
      }else if(password == ''){
        document.getElementById('fail1').style.display = 'block'
        setTimeout("document.getElementById('fail1').style.display='none'",1500)
        return
      }
      this.ajax.get('/company/login/'+ this.user.username + '/' + this.user.password, (res) => {
        weui.toast('登陆成功', 1500)
        setTimeout("window.location.href='/front/company/home'",1500)
      }, (err) => {
        document.getElementById('fail2').style.display = 'block'
        setTimeout("document.getElementById('fail2').style.display='none'",1500)
      })
    }
  }
})
</script>