<div class="container-fluid">
  <form action="#" class="m-50-auto-0 w-80">
    <div class="input-group mt-3">
      <span class="input-group-addon icon border-0" id="basic-addon1">&#xe745;</span>
      <input v-model='user.username' type="text" class="from-control w-100 in-out" placeholder="请输入账号">
    </div>
    <div class="input-group mt-3">
      <span class="input-group-addon icon border-0" id="basic-addon1">&#xe74f;</span>
      <input v-model='user.password' type="password" class="from-control w-100 in-out" placeholder="请输入密码">
    </div>
    <div class="text-center">
      <botton class="btn btn-warning mt-3 w-100 t-c-white" @click='login'>登陆</botton>
      <a href="/front/login/forget_psd" class="text-right db f-s-8">*忘记登陆密码</a>
    </div>
  </form>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    user: {}
  },
  methods: {
    login () {
      this.ajax.get('/company/login/'+this.user.username + '/' + this.user.password, (res) => {
        weui.toast('登陆成功', 1500)
        setTimeout("window.location.href='/front/company/home'",1500)
      }, (err) => {
        weui.toast(err.errmsg)
      })
    }
  }
})
</script>