<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee  align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 ">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-15">&#xe86c;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span>修改密码</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid">
  <form action="#" class="m-40-auto-0 w-80">
    <div class="input-group mt-3">
      <span class="input-group-addon icon border-0" id="basic-addon1">&#xe74f;</span>
      <input type="password" class="from-control w-100" placeholder="请输入原密码" v-model='user.oldpassword'>
    </div>
    <div class="input-group mt-3">
      <span class="input-group-addon icon border-0" id="basic-addon1">&#xe74f;</span>
      <input type="password" class="from-control w-100" id='psd' placeholder="请输入密码" v-model='user.newpassword'>
    </div>
    <div class="input-group mt-3">
      <span class="input-group-addon icon border-0" id="basic-addon1">&#xe74f;</span>
      <input type="password" class="from-control w-100" id='repeat' placeholder="请确认密码">
    </div>
    <div class="text-center">
      <a href='javascript:void(0)' class="btn btn-warning mt-3 w-100 t-c-white" @click='modify'>保存</a>
      <span class="text-right db f-s-8">点击保存，请使用新密码登陆</span>
    </div>
  </form>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    user: {}
  },
  methods: {
    modify () {
      let psd = document.getElementById('psd').value
      let req = document.getElementById('repeat').value
      if(psd != req){
        weui.toast('两次密码不一致', 1500)
        return false
      }
      this.ajax.put('/forgot/password',this.user, (res) => {
        weui.toast('修改成功', 1500)
        setTimeout("window.location.href='/front/login/login'",1500)
      }, (err) => {
        weui.toast(err.errmsg)
      })
    }
  }
})
</script>