<!--顶部导航栏-->
<%- tname%>
<!--轮播图-->
<div id="carouselId" class="carousel slide h-150 m-t-46" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselId" data-slide-to="0" class="active"></li>
    <li data-target="#carouselId" data-slide-to="1"></li>
    <li data-target="#carouselId" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox" style="height:150px">
    <div class="carousel-item active" v-for='n in swiper'>
      <img :src="n.url" alt="First slide" class='w-100'>
    </div>
</div>
<div class=" bg-white f-s-8 m-b-85">
  <p class="p-y-5 p-x-15 mb-0">
    <span class='f-s-f16 f-w-d'>{{detail.name}}</span>
    <span class="float-right f-s-f12 t-c-666">{{time.dateFormat('yyyy/MM/dd',detail.time)}}</span>
  </p>
  <p class="p-r-15 p-l-12 mb-0">
    <i class="icon f-s-f20 t-c-00baf3 va-m">&#xe8e0;</i>
    <span class='f-s-f12 t-c-666 va-m'>{{detail.address}}</span>
  </p>
  <p class="p-t-8 p-b-10 p-x-15 mb-0 t-c-666">{{detail.content}}</p>
  <p style="text-align: center;">
    <a name="" id="" class="btn btn-primary p-y-5 p-x-40 m-y-10 bg-00baf3 f-s-f16" href="#" role="button" @click='show(detail.culid, detail.name)'  v-if='status == 0'>报名</a>
    <a name="" id="" class="btn btn-primary p-y-5 p-x-40 m-y-10 bg-00baf3 f-s-f16" href="#" role="button" v-if='status == 1' style='background-color: #cccccc!important; border-color:#cccccc;'>已报名</a>
  </p>
  
</div>
<!--弹框-->
<div id="dialog" style="display: none;">
  <div class="weui-mask z-1030" @click='cancel'></div>
  <div class="weui-dialog f-s-8 br-5">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title icon f-s-f40 t-c-f970">&#xe85e;</strong></div>
    <div class="weui-dialog__bd">您确定要进行此操作吗？</div>
    <div class="weui-dialog__ft">
      <a class="weui-dialog__btn weui-dialog__btn_default" id='cancel' @click='cancel'>取消</a>
      <a class="weui-dialog__btn weui-dialog__btn_primary t-c-0bb20c" @click='sure'>确认</a>
    </div>
  </div>
</div>
<%- f%>

<script> 
new Vue({
  el: '#app',
  data: {
    type:0,
    cultivate:[],
    id: '',
    name:'课程详情',
    detail:[],
    swiper:[],
    company:[],
    culStatus:[],
    p:{
      culid:0,
      culname:''
    },
    status:0,
    keyword:'cultivate'
  },
  mounted () {
    this.id = this.query.get('id')
    this.ajax.get('/cultivate/detail/' + this.id, (res) => {
      this.cultivate = res.data
      this.swiper = this.cultivate[1]
      this.detail = this.cultivate[0][0]
    }, (err) => {
      console.log(err)
    })
    this.ajax.get('/company/detail',(res) => {
      this.company = res.data
    }, (err) => {
      console.log(err)
    })
    this.ajax.get('/cultivate/status?culid=' + this.detail.culid,(res) => {
      this.culStatus = res.data
      if(this.culStatus){
        this.status = 1
      }
    }, (err) => {
      console.log(err)
    })
  },
  methods: {
    show(id,name){
      if(this.company){
        let dialog = document.getElementById('dialog')
        dialog.style.display = 'block'
        this.p.culid = id
        this.p.culname = name
      }else{
        weui.toast('请先进行登陆！', 1000);
        setTimeout("window.location.href = '/front/login/login'",1500)
      } 
    },
    cancel(){
      let dialog = document.getElementById('dialog')
      dialog.style.display = 'none'
    },
    sure(){
      let dialog = document.getElementById('dialog')
      dialog.style.display = 'none'
      this.ajax.post('/add/cultivate/record',this.p,(res) => {
        this.status = 1
        weui.toast('报名成功', 1000);
      }, (err) => {
        console.log(err)
      })
    }
  }
})
</script>