<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee  align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 ">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-15">&#xe86c;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span>企业认证</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid bg-white m-t-46">
  <form action="#" class="f-s-8">
    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">公司名称</label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="公司名称" v-model='group.name'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">公司性质</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='group.kind'>
          <option v-for='t in type'>{{t}}</option>
        </select>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">所属行业</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" id='bcat' @click="linkage">
          <option :value='0'>请选择</option>
          <option v-for="b in big" :value="b.id">{{b.name}}</option>
        </select><br/>
        <select class="mt-2 border" id='mcat' v-model='group.iid'>
          <option :value='0'>请选择</option>
          <option v-for="m in small" :value="m.id">{{m.name}}</option>
        </select>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">成立年份</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='group.age'>
          <option>1989</option>
          <option>1990</option>
          <option>1991</option>
        </select>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">公司规模</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='group.scope'>
          <option v-for='s in scope'>{{s}}</option>
        </select>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">注册地址</label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写公司地址" v-model='group.address'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">公司网址</label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写公司网址" id='website' v-model='group.website'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">公司邮箱</label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写公司邮箱" id='email' v-model='group.email'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">联系人姓名</label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写联系人姓名" v-model='group.contact_name'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">联系人电话</label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写联系人电话" id='mobile' v-model='group.contact_mobile'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">公司简介</label>
      <div class="col-6 p-x-0">
        <textarea rows="3" placeholder="请填写完整的公司概况，保证真实有效" class="border-0" v-model='group.summary'></textarea>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">上传营业执照</label>
      <div class="col-6 p-x-0 file">
        <input type="file" v-mobile='group.certificate'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">上传法人身份证原件</label>
      <div class="col-6 p-x-0 file">
        <input type="file" v-model='group.idcard_front'>
        <input type="file" v-model='group.idcard_reverse'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">上传公司logo</label>
      <div class="col-6 p-x-0 file">
        <input type="file" v-model='group.logo'>
      </div>
      <div class="col-1 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="row">
      <button class="btn br-0 w-100 bg-primary t-c-white" @click='submit'>确定</button>
      <!--<a href="/front/company/station" class="btn br-0 w-100 bg-primary t-c-white">确定</a>-->
    </div>
  </form>
</div>

<script>
new Vue({
  el: '#app',
  data: {
   list:[],
   big:[],
   small:[],
   smallall:[],
   type:[],
   scope:[],
   group:[]
  },
  mounted(){
    this.ajax.get('/company/industry/list',(res)=>{
      this.list = res.data
      let bigcat = []
      let smallall = []
      for(let cat of res.data){
        if(cat.fid == 0){
          bigcat.push(cat)
          continue
        }else{
          smallall.push(cat)
        }
      }
      this.big = bigcat
      this.smallall = smallall
    },(err)=>{
      alert(err.errmsg)
    }),
    //性质
    this.ajax.get('/company/kind/list',(res)=>{
      this.type = res.data
    },(err)=>{
      alert(err.errmsg)
    })
    //规模
    this.ajax.get('/company/scope/list',(res)=>{
      this.scope = res.data
    },(err)=>{
      alert(err.errmsg)
    })
  },
  methods: {
    linkage (){
      let bcat = document.getElementById('bcat')
      let mcat = document.getElementById('mcat')
      if (bcat.value != 0) {
        this.small=[]
        for (let samll of this.smallall) {
					if (samll.fid == bcat.value) {
						this.small.push(samll)
					}
				}
			} 
    },
    submit(){
      let website = document.getElementById('website').value
      let email = document.getElementById('email').value
      let mobile = document.getElementById('mobile').value
      let group = document.getElementsByClassName('form-control-plaintext')
      let webreg = /^([hH][tT]{2}[pP]:\/\/|[hH][tT]{2}[pP][sS]:\/\/)(([A-Za-z0-9-~]+)\.)+([A-Za-z0-9-~\/])+$/
      let emareg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/ 
      let mobreg = /^0?(13[0-9]|15[012356789]|17[013678]|18[0-9]|14[57])[0-9]{8}$/
      // for(let i=0; i<group.length; i++){
      //   if(group[i].value == ''){
      //     alert('不能为空')
      //   }
      // }
      if(!webreg.test(website)){
        alert('输入的网址格式不正确')
        return false
      }else if(!emareg.test(email)){
        alert('输入的邮箱格式不正确')
        return false
      }else if(!mobreg.test(mobile)){
        alert('输入的手机号格式不正确')
      }
      this.ajax.put('/company/add',this.group,(res)=>{
        alert('成功')
      },(err)=>{
        alert(err.errmsg)
      })
    }
  }
})
</script>