<%- tname%>
<div>
  <img src="../../../skins/img/seehome.jpg" class='w-100 h-150 m-t-45'>
  <div class='w75 h75 br-h bg-white pa' style='top:14%; left:39%;'>
    <img :src="detail.logo" alt="" class='w-100 h-100 br-h'>
  </div>
</div>
<div class="container-fluid bg-white m-b-80 f-s-9 m-t-5">
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe902;</i>
    </div>
    <div class="col-10 p-x-0"><a href="/front/company/com_test" class='db w-100 t-c-2b2 va-m m-l-10'>企业认证</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/company/com_test" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe8ee;</i>
    </div>
    <div class="col-10 p-x-0"><a href="/front/company/station " class='db w-100 t-c-2b2 va-m m-l-10'>发布的岗位</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/company/station" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe909;</i>
    </div>
    <div class="col-10 p-x-0"><a href="/front/login/put_psd" class='db w-100 t-c-2b2 va-m m-l-10'>修改密码</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/login/put_psd" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe908;</i>
    </div>
    <div class="col-10 p-x-0"><a href="/front/company/resume_record" class='db w-100 t-c-2b2 va-m m-l-10'>简历记录</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/company/resume_record" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe903;</i>
    </div>
    <div class="col-10 p-x-0"><a href="/front/company/invitation_send" class='db w-100 t-c-2b2 va-m m-l-10'>我发出的邀请</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/company/invitation_send" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe8ea;</i>
    </div>
    <div class="col-10 p-x-0"><a href="/front/company/my_cultivate" class='db w-100 t-c-2b2 va-m m-l-10'>我们的报名培训</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/company/my_cultivate" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>

  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe907;</i>
    </div>
    <div class="col-10 p-x-0">
      <a href="/front/company/mail"  class='db w-100 t-c-2b2 va-m m-l-10'>
        <span>站内信</span>
        <span class = 'in-block absolute h-7 w-7 bg-044 br-h pa l-18' v-for='n in list' v-show='n.isread==0'> </span>
      </a>
    </div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/company/mail" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe8fa;</i>
    </div>
    <div class="col-10 p-x-0"><a href="/front/company/link" class='db w-100 t-c-2b2 va-m m-l-10'>联系我们</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/company/link" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 " @click='switch_1'>
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe90b;</i>
    </div>
    <div class="col-10 p-x-0 p-l-10">切换身份</div>
    <div class="col-1 text-center align-self-center p-x-0"><i class="icon">&#xe630;</i></div>
  </div>
</div>
<%- f%>
<script> 
  new Vue({
    el:'#app',
    data:{
      list:[],
      name:'个人中心',
      detail:[],
    },
    mounted(){
      this.ajax.get('/company/detail',(res)=>{
        this.detail = res.data
        console.log(this.detail)
      },(err)=>{
      })
      this.ajax.get('/msg/red',(res)=>{
        this.list = res.data
        console.log(this.list)
      },(err)=>{

      })
    },
    methods: {
      switch_1(){
        weui.confirm('', {
            title: '确认要切换身份吗?',
            buttons: [{
                label: '取消',
                type: 'default',
                onClick: function(){ console.log('no') }
            }, {
                label: '确定',
                type: 'primary',
                onClick: function(){ window.location.href='/front/login/identity' }
            }]
        })
      },
      go(){
        window.history.go(-1);
      }
    }
  })
</script>