<!--顶部导航栏-->
<div class="container-fluid top pf t-0 l-0 bor-b-sol bor-ccc z-100">
  <div class="row tab h-45 lh-45 bg-fff">
    <div class="col-2 ">
      <i class="icon back f-s-15 v-a" @click='go'>&#xe86c;</i>
    </div>
    <div class="col-8 middle ta-c">
      <span>公司详情</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<!--公司头像-->
<div class="container-fluid img h-170 bg-fff ta-c m-t-46">
  <img src="list.logo" class='mt-3 br-h w-w50 h-h50'>
  <p class='mt-1 f-s-8 t-c-666'>{{list.name}}</p>
  <div class='mt-1 f-s-8 t-c-666'>{{industry.name}} | 成立{{list.age}}年 | {{list.scope}}</div>
  <p class='mt-1 f-s-8 t-c-666 m-b-0 f-s-8 t-c-0a0'>公司地址 : {{list.address}}</p>
</div>

<!--公司概况-->
<div class="container-fluid content bg-fff bor-t-sol bor-ccc bor-b-sol bor-ccc m-b-10 m-t-6 ">
  <div class='row p-y-6 f-s-8 bor-b-sol bor-ccc'>
    <i class="icon f-s-8 p-t-10 p-l-10 p-r-10">&#xe723;</i>
    <span>公司概况</span>
  </div>
  <div class='content_1 f-s-6 t-c-666 p-b-10'>
    <p class='m-t-5'>{{list.summary}}</p>
  </div>
</div>

<!--公司概况-->
<div class="company m-b-10">
  <div class='post container-fluid h-40 w-100 bg-fff m-t-6 f-s-8 lh-40 bor-b-sol bor-ccc'>
    <span class="icon p-r-10">&#xe8b0;</span>
    <span class='t-c-666 f-s-8 t-c-0a0'>该公司职位</span>
  </div>
  
<div class='container-fluid m-b-60'>
  <ul class=" f-s-8 m-b-0">
    <li class=" bg-white bor-r-5 p-10 pr row bor-b-sol bor-ccc" v-for='n in datail'>
      <p class="w-100 m-b-10">
        <span class="f-s-10 f-w-6">{{n.name}}</span>
        <span class="float-right">{{n.issue_time}}</span>
      </p>
      <p class="w-100 m-b-5">
        <span class="t-c-ff5">{{n.pay}}</span>
      </p>
      <p class="w-100 m-b-5">
        <span><i class="icon">&#xe621;</i>{{n.area}}</span>
        <span><i class="icon">&#xe86a;</i>{{n.education}}</span>
        <span><i class="icon">&#xe68c;</i>{{n.experience}}</span>
      </p>
      <p class="w-100 m-b-5">
        <span class="bor p-x-2 m-l-3 bor-sol bor-ccc t-c-d br-5 p-l-5 f-s-5 dinb m-t-5" v-for="i in n.benefit.split('|')">{{i}}</span>
      </p>
      <p class="w-100 m-b-5">
        <i class="icon">&#xe621;</i>
        <span>{{n.cname}}</span>
      </p>
    </li>
  </ul>
</div>

<script> 
  new Vue({
    el:'#app',
    data:{
      list:[],
      datail:[],
      industry:[],
    },
    mounted(){
      this.ajax.get('/company/detail/1',(res)=>{
        this.list = res.data[0]
        this.datail = res.data[1]
        this.industry = res.data[2]
      },(err)=>{
        
      })
    },
    methods: {
      go(){
        window.history.go(-1);
      }
    }
  })
</script>