<%- tname%>
<div>
  <img src="../../../skins/img/seehome.jpg" class='w-100 h-150 m-t-45'>
  <!--<div class='w75 h75 br-h bg-white pa' style='top:14%; left:39%;'>
    <img :src="detail.logo" alt="" class='w-100 h-100 br-h'>
  </div>-->
</div>
<div class="container-fluid bg-white m-b-80 f-s-9 m-t-5">
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe902;</i>
    </div>
    <div class="col-10 p-x-0"><a @click='link' class='db w-100 t-c-2b2 va-m m-l-15'>企业认证</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a @click='link' class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe8ee;</i>
    </div>
    <div class="col-10 p-x-0"><a @click='href("/front/company/job_send")' class='db w-100 t-c-2b2 va-m  m-l-15'>发布的岗位</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a @click='href("/front/company/job_send")' class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe909;</i>
    </div>
    <div class="col-10 p-x-0"><a @click='href("/front/login/put_psd")' class='db w-100 t-c-2b2 va-m  m-l-15'>修改密码</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a  @click='href("/front/login/put_psd")' class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe908;</i>
    </div>
    <div class="col-10 p-x-0"><a @click='href("/front/company/resume_record")' class='db w-100 t-c-2b2 va-m  m-l-15'>简历记录</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a @click='href("/front/company/resume_record")' class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe903;</i>
    </div>
    <div class="col-10 p-x-0"><a @click='href("/front/company/invitation_send")' class='db w-100 t-c-2b2 va-m  m-l-15'>我发出的邀请</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a @click='href("/front/company/invitation_send")' class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe8ea;</i>
    </div>
    <div class="col-10 p-x-0"><a @click='href("/front/company/my_cultivate")' class='db w-100 t-c-2b2 va-m  m-l-15'>我的报名培训</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a @click='href("/front/company/my_cultivate")' class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>

  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe907;</i>
    </div>
    <div class="col-10 p-x-0">
      <a @click='href("/front/company/mail")' class='db w-100 t-c-2b2 va-m  m-l-15'>
        <span class="pr">站内信
          <span class = 'in-block absolute h-7 w-7 bg-044 br-h pa r-0' v-for='n in list' v-show='n.isread==0'> </span>
        </span>
      </a>
    </div>
    <div class="col-1 text-center align-self-center p-x-0"><a @click='href("/front/company/mail")' class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe8fa;</i>
    </div>
    <div class="col-10 p-x-0"><a href="/front/company/link" class='db w-100 t-c-2b2 va-m  m-l-15' style='color:#000;'>联系我们</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/company/link" class='db w-100'><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 " @click='show1'>
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2 m-l-5">&#xe90b;</i>
    </div>
    <div class="col-10 p-x-0  p-l-15">切换身份</div>
    <div class="col-1 text-center align-self-center p-x-0"><i class="icon">&#xe630;</i></div>
  </div>
</div>
<!--切换身份弹框-->
<div id="dialog1" style="display: none;">
  <div class="weui-mask z-1030" @click='notshow1'></div>
  <div class="weui-dialog f-s-8 br-5">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title icon f-s-f40 t-c-f970">&#xe85e;</strong></div>
    <div class="weui-dialog__bd">您确定要切换到找工作身份吗？</div>
    <div class="weui-dialog__ft">
      <a class="weui-dialog__btn weui-dialog__btn_default" id='cancel' @click='notshow1'>取消</a>
      <a class="weui-dialog__btn weui-dialog__btn_primary t-c-0bb20c" @click='sure'>确认</a>
    </div>
  </div>
</div>
<!--是否登陆弹框-->
<div id="dialog2" style="display: none;">
  <div class="weui-mask z-1030" @click='notshow2'></div>
  <div class="weui-dialog f-s-8 br-5">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title icon f-s-f40 t-c-f970">&#xe85e;</strong></div>
    <div class="weui-dialog__bd">是否先进行登陆？</div>
    <div class="weui-dialog__ft">
      <a class="weui-dialog__btn weui-dialog__btn_default" id='cancel' @click='notshow2'>取消</a>
      <a class="weui-dialog__btn weui-dialog__btn_primary t-c-0bb20c" @click='sure2'>确认</a>
    </div>
  </div>
</div>
<%- f%>
<script> 
  new Vue({
    el:'#app',
    data:{
      list:[],
      name:'个人中心',
      detail:[],
      keyword:'my',
      test:[]
    },
    mounted(){
      this.ajax.get('/company/detail',(res)=>{
        this.detail = res.data
        console.log(this.detail)
      },(err)=>{
        this.msg.error('app',err.errmsg)
      })
      this.ajax.get('/msg/red',(res)=>{
        this.list = res.data
        console.log(this.list)
      },(err)=>{
        this.msg.error('app',err.errmsg)
      })
      this.ajax.get('/company/test/detail',(res)=>{
        this.test = res.data
      },(err)=>{
        this.msg.error('app',err.errmsg)
      })
    },
    methods: {
      show1(){
        let dialog1 = document.getElementById('dialog1')
        dialog1.style.display = 'block'
      },
      notshow1(){
        let dialog1 = document.getElementById('dialog1')
        dialog1.style.display = 'none'
      },
      sure(){
        setTimeout(window.location.href='/front/login/identity',1500)
      },
      go(){
        window.history.go(-1);
      },
      link(){
        if(this.detail == {}){
          let dialog2 = document.getElementById('dialog2')
          dialog2.style.display = 'block'
        }else{
          if(this.test.length == 0){
            window.location.href='/front/company/com_test'
          }else{
            window.location.href='/front/company/put_test'
          }
        }
      },
      href(url){
        if(this.detail == {}){
          let dialog2 = document.getElementById('dialog2')
          dialog2.style.display = 'block'
        }else{
          window.location.href = url
        }
      },
      notshow2(){
        let dialog2 = document.getElementById('dialog2')
        dialog2.style.display = 'none'
      },
      sure2(){
        setTimeout(window.location.href='/front/login/login',1500)
      },
    }
  })
</script>