<!--顶部导航栏-->
<%- tname%>
<!--空页-->
<div class="m-t-p45 text-center w-100" v-show='list.length == 0'>
  <img class="w-70" src="../../../skins/img/empty1.jpg" alt="">
  <p class='t-c-999 f-s-f14'>您还没有收到任何站内信呦！</p>
</div>
<!--通知条-->
<div class="container-fluid m-t-55" v-show='list.length > 0'>
  <a href="/front/company/mail_detail?type=examine" class="d-block w-94 h-100 t-c-0a0 m-l-5" style='color:#000; margin:4px auto'>
    <div class="row p-y-10 p-x-15 bg-white f-s-8 br-5">
      <div class="col-2 px-0">
        <i class="icon f-s-f35" style='color:#fe9b28; margin-left:-5px;'>&#xe8f4;</i>
      </div>
      <div class="col-8 p-0 m-t-5" style='margin-left:-15px; margin-top:8px;'>系统通知
        <span class="weui-badge weui-badge_dot align-top" v-show = 'examine.length > 0'></span>
      </div>
      <div class="col-2 p-0 text-right m-t-5" style='margin-left:15px; margin-top:8px;'>
        <i class="icon">&#xe630;</i>
      </div>
    </div>
  </a>
  <a href="/front/company/mail_detail?type=user" class="d-block w-94 h-100 t-c-0a0 m-l-5 m-t-10" style='color:#000; margin:0 auto; margin-top:10px;'>
    <div class="row p-y-10 p-x-15 bg-white f-s-8 br-5">
      <div class="col-2 px-0 ">
        <i class="icon f-s-f35" style='color:#00abef; margin-left:-5px;'>&#xe8f2;</i>
      </div>
      <div class="col-8 p-0" style='margin-left:-15px; margin-top:8px;'>用户投递通知
        <span class="weui-badge weui-badge_dot align-top" v-show = 'user.length > 0'></span>
      </div>
      <div class="col-2 p-0 text-right m-t-5" style='margin-left:15px; margin-top:8px;'>
        <i class="icon">&#xe630;</i>
      </div>
    </div>
  </a>
</div>
<%- f%>
<script> 
new Vue({
  el: '#app',
  data: {
    examine:[],
    user:[],
    list:[],
    name:'站内信',
    keyword:'my'
  },
  mounted () {
    this.ajax.get('/examine/msg/red', (res) => {
      this.examine = res.data
    }, (err) => {
      this.msg.error('app',err.errmsg)
    })
    this.ajax.get('/user/msg/red', (res) => {
      this.user = res.data
    }, (err) => {
      this.msg.error('app',err.errmsg)
    })
    this.ajax.get('/msg/list', (res) => {
      this.list = res.data
    }, (err) => {
      this.msg.error('app',err.errmsg)
    })
  },
  methods: {
  }
})
</script>