<!--顶部导航栏-->
<%- tname%>
<!--没有列表是显示图片-->
<div class="m-t-p30 text-center w-100" v-show='record.length == 0'>
  <img class="w-70" src="../../../skins/img/empty.jpg" alt="">
  <p class='f-s-f14 t-c-989'>您还没有收到任何简历呦！</p>
</div>
<!--中间内容-->
<div>
<ul class="m-b-80 f-s-f15 m-t-53" v-show='record.length != 0'>
  <li class="m-t-8 m-x-10 p-x-10 bg-white br-5 p-y-5" v-for ='rec in record'>
    <a @click='href(rec.id)' class="d-block w-100 h-100 t-c-0a0">
      <p class="lh-30 my-1 mb-0">
        <i class='icon m-x-5 f-s-f18 t-c-c0c'>&#xe8ee;</i>
        <span class='t-c-000'>{{rec.name}}</span>
      </p>
      <p class="li-30 my-1 mb-0">
        <i class='icon m-x-5 f-s-f18 t-c-c0c'>&#xe906;</i>
        <span class='t-c-666'>{{time.dateFormat('yyyy/MM/dd', rec.issue_time)}}</span>
      </p>
      <p class="li-30 my-1 mb-0">
        <i class='icon m-x-5 f-s-f18 t-c-c0c'>&#xe90e;</i>
        <span class='t-c-00b'>有{{rec.count}}人投递简历</span>
      </p>
      <p class="li-30 my-1 mb-0">
        <i class='icon m-x-5 f-s-f18 t-c-c0c'>&#xe8e0;</i>
        <span class='t-c-666'>{{rec.address}}</span>
      </p>
    </a>
  </li>
</ul>
<%- f%>
<script>
new Vue({
  el: '#app',
  data: {
    record : [],
    name:'简历记录',
    keyword:'my'
  },
  mounted () {
    this.ajax.get('/company/resume/record', (res) => {
      this.record = res.data
      console.log(this.record)
    }, (err) => {
      this.msg.error('app',err.errmsg)
    })
  },
  methods: {
    href(id){
      window.location.href= '/front/company/resume_list?id=' + id
    }
  }
})
</script>
