<div class="fixed-top h-h45 bor-b-sol bor-eae bg-efe">
  <div class="row mt-1">
    <div class="col-2 icon p-t-10 f-s-f20 text-center p-r-0 va-m" @click='go'>&#xe86c;</div>
    <div class="col-8 px-0 t-c-666">
      <form action="#">
        <input type="text" class='bg-fff w-100 f-s-7 h-30 br-5 m-t-3 va-m' style='padding-left: 5%;' placeholder="搜索职位公司" v-model='keyword'>
      </form>
      <!--<span class='icon pr t-28 l-2 f-s-f15'>&#xe7fd;</span>-->
      <!--<span class="f-s-f20 icon pr" style='top:-26px; left:87%;'><a href="/front/company/recruit_list">&#xe90d;</a></span>-->
    </div>
    <div class="f-s-f14 col-2 p-t-7 p-l-5"><a class='t-c-ccc' :href="'/front/company/recruit_list?name='+keyword">搜索</a></div>
  </div>
</div>

<ul class="container-fluid content-one bg-fff w-95 br-7 m-t-50 bor-sol bor-e1e mb-0">
  <li class="row pt-3 p-x-5 f-s-8">
    <div class="col-1 px-0 pl-2 icon m-t-p1 f-s-f25 t-c-00baf3">&#xe8eb;</div>
    <div class="col-11 pl-3 f-s-f15 m-t-n3">热门职业</div>
  </li>
  <li class='f-s-7 pb-3' >
    <span class='bor-sol bor-e1e br-5 dinb m-t-10 p-y-3 p-x-15 m-r-10' v-for='(n,i) in list' @click='onsearch = i,keyword = n.name'>{{n.name}}</span>
  </li>
</ul>

<ul class="container-fluid content-one bg-fff w-95 br-7 m-t-5 bor-sol bor-e1e mb-0">
  <li class="row pt-3 p-x-5 f-s-8">
    <div class="col-1 px-0 pl-2 icon m-t-p1 f-s-f25 t-c-00baf3">&#xe8eb;</div>
    <div class="col-11 pl-3 f-s-f15 m-t-n3">热门公司</div>
  </li>
  <li class='f-s-7 pb-3'>
    <span class='bor-sol bor-e1e br-5 dinb m-t-10 p-y-3 p-x-15 m-r-10' v-for='(n,i) in datail' @click='search = i,keyword = n.name'>{{n.name}}</span>
  </li>
</ul>
<ul class="container-fluid content-one bg-fff w-95 br-7 m-t-5 bor-sol bor-e1e mb-0">
  <li class="row pt-3 p-x-5 f-s-8">
    <div class="col-1 pl-2 icon m-t-p1 f-s-f20 t-c-00baf3">&#xe8f0;</div>
    <div class="col-10 pl-2 f-s-f15 m-t-n3">最近搜索</div>
    <div class="col-1 pl-1 icon f-s-f20" @click='history_1'>&#xe7c1;</div>
  </li>
  <li class='f-s-7 pb-3'>
    <span class='bor-sol bor-e1e br-5 dinb m-t-10 p-y-3 p-x-15 m-r-10' v-for='(n,i) in history' @click='hist = i, keyword = n.keyword'>{{n.keyword}}</span>
  </li>
</ul>
<script>
  new Vue({
    el:'#app',
    data:{
      list:[],
      datail:[],
      history:[],
      keyword:'',
      start:new Date().setHours(0,0,0,0)/1000
    },
    mounted(){
      this.ajax.get('/job/search/hot',(res)=>{
        this.list = res.data
        console.log(this.list)
      },(err)=>{
      })
      this.ajax.get('/company/search/hot',(res)=>{
        this.datail = res.data
        console.log(this.datail)
      },(err)=>{
      })
      this.ajax.get('/search/history/list',(res)=>{
        this.history = res.data
        console.log(this.history)
      },(err)=>{
      })
    },
    methods: {
      go(){
        window.history.go(-1);
      },
      history_1(){
        this.ajax.delete('/history/delete',(res)=>{
          weui.toast('删除成功', 2000);
          setTimeout('window.location.reload()',1500)
          },(err)=>{
        })
      },
    }
  })
</script>