<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 ">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-15">&#xe86c;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span>编辑岗位</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid bg-white m-t-46">
  <form action="#" class="m-b-38 f-s-8">
    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">职位类型
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.jtid' disabled>
          <option v-for='n in listType' :value='n.id'> {{n.name}} </option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">职位名称
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0 t-c-a4a" placeholder="请填写职位名称" v-model='list.name' readonly>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">薪资水平
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.pay'>
          <option v-for='list in pay' :value='list'>{{list}}</option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">福利待遇
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0 align-self-center">
        <div id="span">
          <span class="border p-1 dinb mb-1 mr-1" v-for ='(v,i) in li'  @click='check(i,v.checked)':class="{'t-c-e20': v.checked==true}" >{{v.name}}</span>
        </div>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">工作区域
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.area'>
          <option v-for='list in area' :value='list'>{{list}}</option>
        </select> 
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">学历要求
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.education'>
          <option v-for='e in education' :value='e'>{{e}}</option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">经验要求
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.experience'>
          <option v-for='exper in exper' :value='exper'>{{exper}}</option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">工作地址
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写详细地址" v-model='list.address'>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">岗位职责
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0">
        <textarea rows="3" placeholder="请填写完整的岗位职责，保证真实有效" class="border-0 w-100" v-model='list.statement'></textarea>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">任职资格
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0">
        <textarea rows="3" placeholder="请填写完整的任职资格，保证真实有效" class="border-0 w-100" v-model='list.requirements'></textarea>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">是否公开
        <span class="w-w1 dinb bg-a4a h-17 v-a ml-1"></span>
      </label>
      <div class="col-6 p-x-0">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="isopen" value="1" v-model='list.status'> 公开
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="isopen" value="2" v-model='list.status'> 仅对自己可见
          </label>
        </div>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>


    <div class="row fixed-bottom">
      <a href="javascript:void(0)" class="btn br-0 w-100 bg-primary t-c-white" @click='edit'>确定</a>
      <!--<a href="/front/company/job_send" class="btn br-0 w-100 bg-primary t-c-white">确定</a>-->
    </div>
  </form>
</div>


<script>
new Vue({
  el: '#app',
  data: {
    jobs: {},
    list: [],
    listType:[],
    area:[],
    exper:[],
    education: [],
    pay: [],
    li:[]
  },
  mounted(){
    this.ajax.get('/job/detail/' + this.query.get('id'), (res)=>{
      this.list = res.data[0]
      this.list.benefit = this.list.benefit.split('|')
      this.jobs = this.list
    },(err)=>{
      console.log(err.errmsg)
    }),
    //职位类型
    this.ajax.get('/jobtype/list',(res)=>{
      this.listType = res.data
    },(err)=>{

    })
    //学历列表
  this.ajax.get('/education/list',(res)=>{
    this.education = res.data
  },(err)=>{
    console.log(err.errmsg)
  }),
  //薪资要求
  this.ajax.get('/pay/list',(res)=>{
    this.pay = res.data
  },(err)=>{
    console.log(err.errmsg)
  }),
//  区域列表
  this.ajax.get('/area/list',(res)=>{
    this.area = res.data
  },(err)=>{
    console.log(err.errmsg)
  }),
  // 经验要求
  this.ajax.get('/experience/list',(res)=>{
    this.exper = res.data
  },(err)=>{
    console.log(err.errmsg)
  }),
  // 福利待遇
    this.ajax.get('/benefit/list',(res)=>{
      this.li = res.data
      for(let n of this.li){
        for(let bene of this.list.benefit){
          if(n.name == bene){
            n.checked = true
          }
        }
      }
    },(err)=>{
      console.log(err.errmsg)
    })
  },
  methods: {
    edit(){
      let a=''
      let b= ''
      for(let v of this.li){
        if(v.checked==true){
          a += v.name +'|'
          b = a.substring(0,a.length-1)
        }
      }
      this.jobs.benefit = b
      this.ajax.put('/edit/job',this.jobs,(res)=>{
       weui.toast('编辑成功', 1500)
       setTimeout("'window.location.href='/front/company/job_send'",1500)
      },(err)=>{
        console.log(err.errmsg)
      })
    },
    check(i,type){
      if(type){
        this.li[i].checked=false
      }else{
        this.li[i].checked=true
      }
      
    },
  }
})
</script>