<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 p-x-0 p-l-10">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-f22 t-c-7c88">&#xe90f;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span class="t-c-32 f-s-f17">岗位发布</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid bg-white m-t-53 m-b-38">
  <form action="#" class="f-s-8">
    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">职位类型
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0 align-self-center pr">
          <i class="icon pa r-22 t-7 t-c-bf">&#xe62e;</i>
          <select class="bg-ef br-3 h-24 w-80 t-c-666 f-s-f14 p-l-2" v-model='o.id' @change='onbig(o.id)'>
            <option value=''>请选择</option>
            <option v-for='o in big' :value='o.id'> {{o.name}} </option>
          </select><br/>
          <i class="icon pa r-22 t-44 t-c-bf">&#xe62e;</i>
          <select class="mt-2 bg-ef br-3 h-24 w-80 t-c-666 f-s-f14 p-l-2" v-model='t.id' @change='onsmall(t.id)'>
            <option value=''>请选择</option>
            <option v-for='t in middle' :value='t.id'> {{t.name}} </option>
          </select><br/>
          <i class="icon pa r-22 b-p7 t-c-bf">&#xe62e;</i>
          <select class="mt-2 bg-ef br-3 h-24 w-80 t-c-666 f-s-f14 p-l-2" v-model='jobs.jtid' id='cat'>
            <option value=''>请选择</option>
            <option v-for='n in small' :value='n.id'> {{n.name}} </option>
          </select>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>  
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">职位名称
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0">
          <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写职位名称" v-model='jobs.name'>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">薪资水平
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0 align-self-center pr">
          <i class="icon pa r-22 t-25 t-c-bf">&#xe62e;</i>
          <select class="bg-ef br-3 h-24 w-80 t-c-666 f-s-f14 p-l-2" v-model='jobs.pay'>
            <option value=''>请选择薪资水平</option>
            <option v-for='list in pay' :value='list'>{{list}}</option>
          </select>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15" >福利待遇
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0 align-self-center">
          <p class="text-right mb-0 f-s-6 show">更多>></p>
          <div id="span" class="oh">
            <span class="border p-1 dinb mb-1 mr-1 h-30" v-for ='(v,i) in li'  @click='check(i,v.checked)':class="{'t-c-00b': v.checked==true}" >{{v.name}}</span>
          </div>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">工作区域
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0 align-self-center pr">
          <i class="icon pa r-22 t-25 t-c-bf">&#xe62e;</i>
          <select class="bg-ef br-3 h-24 w-80 t-c-666 f-s-f14 p-l-2" v-model='jobs.area'>
            <option value=''>请选择工作区域</option>
            <option v-for='a in area' :value='a.name'>{{a.name}}</option>
          </select> 
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">学历要求
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0 align-self-center pr">
          <i class="icon pa r-22 t-25 t-c-bf">&#xe62e;</i>
          <select class="bg-ef br-3 h-24 w-80 t-c-666 f-s-f14 p-l-2" v-model='jobs.education'>
            <option value=''>请选择学历</option>
            <option v-for='e in education' :value='e'>{{e}}</option>
          </select>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">经验要求
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0 align-self-center pr">
          <i class="icon pa r-22 t-25 t-c-bf">&#xe62e;</i>
          <select class="bg-ef br-3 h-24 w-80 t-c-666 f-s-f14 p-l-2" v-model='jobs.experience'>
            <option value=''>请选择经验</option>
            <option v-for='exper in exper'>{{exper}}</option>
          </select>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">工作地址
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0">
          <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写详细地址" v-model='jobs.address'>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">岗位职责
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0">
          <textarea rows="3" placeholder="请填写完整的岗位职责，保证真实有效" class="border-0 w-100" v-model='jobs.statement'></textarea>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">岗位要求
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0">
          <textarea rows="3" placeholder="请填写完整的岗位要求，保证真实有效" class="border-0 w-100" v-model='jobs.requirements'></textarea>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="from-group bor-b-sol bor-eee w-93 ma p-y-p2 row">
        <label for="" class="col-4 col-from-label align-self-center m-b-0 p-x-0 f-s-f15">是否公开
          <span class="w-w1 dinb bg-f7 h-17 v-a ml-1"></span>
        </label>
        <div class="col-6 p-x-0">
          <div class="form-check form-check-inline m-b-0">
            <label class="form-check-label custom-radio">
              <input class="custom-control-input" type="radio" name="radio" value="1" v-model='jobs.status'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description align-self-center">公开</span>
            </label>
          </div>
          <div class="form-check form-check-inline m-b-0" style="margin-left: 0px;">
            <label class="form-check-label custom-radio">
              <input class="custom-control-input" type="radio" name="radio" value="2" v-model='jobs.status'>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">仅对自己可见</span>
            </label>
          </div>
        </div>
        <div class="col-2 align-self-center text-right p-x-0">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>


    <div class="row fixed-bottom">
      <a href="javascript:void(0)" class="btn br-0 w-100 bg-00b t-c-white" @click="add">确定</a>
    </div>
  </form>
</div>


<script>
new Vue({
  el: '#app',
  data: {
    o:{
      id:''
    },
    t:{
      id:''
    },
    jobs: {
      jtid:'',
      pay:'',
      area:'',
      education:'',
      experience:''
    },
    area:[],
    li:[],
    exper:[],
    education: [],
    pay: [],
    experience:[],
    big:[],
    middle:[],
    small:[],
    bigid:null,
    mid:null,
    sid:null,
  },
  mounted(){
    //职位类型
    this.ajax.get('/jobtype/list',(res)=>{
      this.experience = res.data
      for(let v of this.experience){
        if(v.bid == 0){
          this.big.push(v)
        }
      }
    },(err)=>{
      this.msg.error('app',err.errmsg)
    })
    //学历列表
    this.ajax.get('/education/list',(res)=>{
      this.education = res.data
    },(err)=>{
      this.msg.error('app',err.errmsg)
    }),
    //薪资要求
    this.ajax.get('/pay/list',(res)=>{
      this.pay = res.data
    },(err)=>{
      this.msg.error('app',err.errmsg)
    }),
  //  区域列表
    this.ajax.get('/area/list',(res)=>{
      this.area = res.data
    },(err)=>{
      this.msg.error('app',err.errmsg)
    }),
    // 经验要求
    this.ajax.get('/experience/list',(res)=>{
      this.exper = res.data
    },(err)=>{
      this.msg.error('app',err.errmsg)
    }),
    // 福利待遇
    this.ajax.get('/benefit/list',(res)=>{
      this.li = res.data
    },(err)=>{
      this.msg.error('app',err.errmsg)
    })
    $(function(){
      $('#span').css('height','70px')
      $('.show').click(function(){
        let height = $('#span>span').length * 30
        $('#span').css('height',height-200)
      })
    })
  },
  methods: {
    add(){
      let input = $('input').val()
      if(input == ''){
        weui.toast('信息不能为空',1500)
        return false
      }
      let a=''
      let b= ''
      for(let v of this.li){
        if(v.checked==true){
          a += v.name +'|'
          b = a.substring(0,a.length-1)
        }
      }
      this.jobs.benefit = b
      this.ajax.post('/job/add',this.jobs,(res)=>{
        weui.toast('发布成功,请等待审核', 2000)
        setTimeout("window.location.href='/front/company/job_send'",1500)
      },(err)=>{
        this.msg.error('app',err.errmsg)
      })
    },
    check(i,type){
      if(type){
        this.li[i].checked=false
      }else{
        this.li[i].checked=true
      }
      
    },
    //联动
     onbig(id){
      this.middle=[]
      this.bigid = id
      for(let v of this.experience){
        if(v.bid==id&& v.mid ==0 ){
          this.middle.push(v)
        }
      }
    },
    onsmall(id){
      this.mid=id
      this.small=[]
     for(let v of this.experience){
        if(v.mid ==id ){
          this.small.push(v)
        }
      }
    },
  }
})
</script>