<style>
body{ background-color: #fff!important; }
.bg-light{ background-color: #fff!important; height: 40px; line-height: 40px; border-bottom: 1px solid #f1f1f1; }
.file{ background-color: #fff; width: 100px; height: 100px; border: 1px solid #f1f1f1; }

</style>
<div class="container-fluid bg-white">
  <div class="row bg-light justify-content-left fixed-top">
    <div class="col-2 text-center"><a href="javascript:history.go(-1)" class="icon t-c-999">&#xe7c5;</a></div>
    <div class="col-8 text-center">岗位发布</div>
  </div>
  <form action="#" class="m-t-40 m-b-38 f-s-8">
    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">职位类型
      </label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="mt-2 border" v-model='list.jtid' disabled>
          <option v-for='n in listType' :value='n.id'> {{n.name}} </option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">职位名称</label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0 t-c-a4a" placeholder="请填写职位名称" v-model='list.name' readonly>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">薪资水平</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.pay'>
          <!--<option>2000-4000</option>-->
          <option v-for='list in pay'>{{list}}</option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">福利待遇</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.benefit'>
          <!--<option>五险一金</option>-->
          <option v-for='list in pay'>{{list}}</option>
        </select> 
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">工作区域</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.area'>
          <!--<option>保定</option>-->
          <option v-for='list in pay'>{{list}}</option>
        </select> 
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">学历要求</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.education'>
          <!--<option>本科</option>-->
          <option v-for='e in education'>{{e}}</option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">经验要求</label>
      <div class="col-6 p-x-0 align-self-center">
        <select class="border" v-model='list.experience'>
          <!--<option value="1">3年以上</option>-->
          <option v-for='exper in exper'>{{exper}}</option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">工作地址</label>
      <div class="col-6 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 p-y-0" placeholder="请填写详细地址" v-model='list.address'>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">岗位职责</label>
      <div class="col-6 p-x-0">
        <textarea rows="3" placeholder="请填写完整的岗位职责，保证真实有效" class="border-0" v-model='list.statement'></textarea>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">任职资格</label>
      <div class="col-6 p-x-0">
        <textarea rows="3" placeholder="请填写完整的任职资格，保证真实有效" class="border-0" v-model='list.requirements'></textarea>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">是否公开</label>
      <div class="col-6 p-x-0">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="isopen" value="1" v-model='list.status'> 公开
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="isopen" value="2" v-model='list.status'> 仅对自己可见
          </label>
        </div>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>


    <div class="row fixed-bottom">
      <button class="btn br-0 w-100 bg-primary t-c-white" @click='edit' >确定</button>
      <!--<a href="/front/company/job_send" class="btn br-0 w-100 bg-primary t-c-white">确定</a>-->
    </div>
  </form>
</div>


<script>
new Vue({
  el: '#app',
  data: {
    jobs: {},
    list: [],
    listType:[],
    area:[],
    exper:[],
    education: [],
    pay: [],
  },
  mounted(){
    this.ajax.get('/job/detail/6',(res)=>{
      this.list = res.data[0]
      this.jobs = this.list
    },(err)=>{
      console.log(err.errmsg)
    }),
    //职位类型
    this.ajax.get('/jobtype/list',(res)=>{
      this.listType = res.data
    },(err)=>{

    })
    //学历列表
  this.ajax.get('/education/list',(res)=>{
    this.education = res.data
    console.log(JSON.stringify(this.education))
  },(err)=>{
    console.log(err.errmsg)
  }),
  //薪资要求
  this.ajax.get('/pay/list',(res)=>{
    this.pay = res.data
    console.log(JSON.stringify(this.pay))
  },(err)=>{
    console.log(err.errmsg)
  }),
//  区域列表
  this.ajax.get('/area/list',(res)=>{
    this.area = res.data
    console.log(JSON.stringify(this.area))
  },(err)=>{
    console.log(err.errmsg)
  }),
  // 经验要求
  this.ajax.get('/experience/list',(res)=>{
    this.exper = res.data
    console.log(JSON.stringify(this.exper))
  },(err)=>{
    console.log(err.errmsg)
  })
  },
  methods: {
    edit(){
      this.ajax.put('/edit/job',this.jobs,(res)=>{
       alert('编辑成功')
      },(err)=>{
        console.log(err.errmsg)
      })
    }
  }
})
</script>