<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee  align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 ">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-15">&#xe86c;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span>个人评价</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid m-t-46">
  <div class="row bg-white">
    <i class="icon f-s-30 t-c-009 ma mt-4">&#xe680;</i>
    <p class="w-100 text-center mt-3">个人基本简历已创建完成!</p>
  </div>

  <div class="row mt-1 bg-white f-s-9 pt-2 pb-2">
    <div class="col-10">教育经历</div>
    <div class="col-2">
      <a href="/front/jobseeker/teach">
        <i class="icon t-c-0c4">&#xe7ba;</i>
      </a>
    </div>
  </div>

<div class="box">
  <div class="row pt-2 pb-2" style="background-color: #fff; border-top: 1px solid #f1f1f1;" v-for='v in education'>
    <div class="col-8">
      <span>{{v.start}}-{{v.end}}</span>
    </div>
    <div class="col-2 text-right none">
      <a href="/front/jobseeker/edit_education">
        <i class="icon">&#xe803;</i>
      </a>
    </div>
    <div class="col-2 text-left">
      <i class="icon" @click='deledu(v.id)'>&#xe7f9;</i>
    </div>
    <div class="w-100"></div>
    <div class="col-12">{{v.school}}</div>
    <div class="col-12">{{v.speciality}}</div>
  </div>
</div>


  <div class="row mt-1 bg-white f-s-9 pt-2 pb-2">
    <div class="col-10">工作经历</div>
    <div class="col-2">
      <a href="/front/jobseeker/work">
        <i class="icon t-c-0c4">&#xe7ba;</i>
      </a>
    </div>
  </div>

  <div class="box">
    <div class="row pt-2 pb-2" style="background-color: #fff; border-top: 1px solid #f1f1f1;border-bottom: 1px solid #f1f1f1;" v-for='v in experience'>
      <div class="col-8">
        <span>{{v.strat}}-{{v.end}}</span>
      </div>
      <div class="col-2 text-right none">
        <a href="/front/jobseeker/edit_experience">
          <i class="icon">&#xe803;</i>
        </a>
      </div>
      <div class="col-2 text-left">
        <i class="icon" @click='delexp(v.id)'>&#xe7f9;</i>
      </div>
      <div class="w-100"></div>
      <div class="col-12">{{v.company}}</div>
      <div class="col-12">{{v.job}}</div>
    </div>
</div>

  <div class="row item pt-2 pb-2">
    <a href="/front/jobseeker/resume_detail" class="btn br-0 bg-primary t-c-white m-10-auto">确定</a>
  </div>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data: {},
    experience:[],
    education:[]
  },
  mounted () {
    this.ajax.get('/user/resume/experience/1', (res) => {
      this.experience = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/user/resume/education/1', (res) => {
      this.education = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    delexp(id){
     this.ajax.delete('/experience/delete/'+id,(res) => {
      console.log('删除成功')
      window.location.reload()
      }, (res) => {
        console.log(res.errmsg)
      })
    },
    deledu(id){
     this.ajax.delete('/education/delete/'+id,(res) => {
      console.log('删除成功')
      window.location.reload()
      }, (res) => {
        console.log(res.errmsg)
      })
    }
  }
})
</script>