<%- tname %>
<div class="container-fluid m-t-46 none">
  <div class="row bg-white">
    <i class="icon f-s-30 t-c-009 ma mt-3">&#xe680;</i>
    <p class="w-100 text-center mt-3 t-c-666">个人基本简历已创建完成!</p>
  </div>

  <div class="box bg-white bor-b-sol bor-e1">
    <div class="row mt-2 bg-white  pt-2 pb-2  p-x-10 ">
      <div class="col-10 t-c-00b f-s-9 ">教育经历</div>
      <div class="col-2 none text-center">
        <a href="/front/jobseeker/teach?type=add" class="icon t-c-00b f-s-10">
          &#xe7ba;
        </a>
      </div>
    </div>
    <div class="row pt-2 pb-2 f-s-f13 bg-white bor-t-sol bor-eae m-x-10"  v-for='v in education'>
      <div class="col-10 none">
        <span>{{time.dateFormat('yyyy.MM',v.start)}}-{{time.dateFormat('yyyy.MM',v.end)}}</span>
        <span class='p-l-15'>{{v.education}}</span>
      </div>
      <div class="col-1 none ">
        <a :href='"/front/jobseeker/edit_education?type=add&id="+v.id'>
          <i class="icon t-c-00b f-s-f16">&#xe901;</i>
        </a>
      </div>
      <div class="col-1 none text-left">
        <i class="icon t-c-00b f-s-f16" @click='deledu(v.id)'>&#xe904;</i>
      </div>
      <div class="col-12 none">{{v.school}}</div>
      <div class="col-12 none">{{v.speciality}}</div>
    </div>
  </div>

  <div class="box bg-white">
    <div class="row bg-white f-s-9 pt-2 pb-2  p-x-10">
      <div class="col-10 t-c-00b">工作经历</div>
      <div class="col-2 none text-center">
        <a href="/front/jobseeker/work?type=add">
          <i class="icon t-c-00b f-s-10">&#xe7ba;</i>
        </a>
      </div>
    </div>
    <div class="row pt-2 pb-2 f-s-f13 bg-white bor-t-sol bor-eae m-x-10" v-for='v in experience'>
      <div class="col-10 none">
        <span>{{time.dateFormat('yyyy.MM',v.start)}}-{{time.dateFormat('yyyy.MM',v.end)}}</span>
      </div>
      <div class="col-1 text-left none">
        <a :href='"/front/jobseeker/edit_experience?type=add&id="+v.id'>
          <i class="icon t-c-00b f-s-f16">&#xe901;</i>
        </a>
      </div>
      <div class="col-1 text-left none">
        <i class="icon t-c-00b f-s-f16" @click='delexp(v.id)'>&#xe904;</i>
      </div>
      <div class="col-12 none">{{v.company}}</div>
      <div class="col-12 none">{{v.job}}</div>
    </div>
  </div>

  <div class="text-center">
    <a href="/front/jobseeker/resume_detail" class="btn bg-00b t-c-white m-t-10 p-x-30">确定</a>
  </div>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data: {},
    experience:[],
    education:[],
    name:'我的简历'
  },
  mounted () {
    this.ajax.get('/user/resume/experience', (res) => {
      this.experience = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/user/resume/education', (res) => {
      this.education = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    delexp(id){
     this.ajax.delete('/experience/delete/'+id,(res) => {
      weui.toast('删除成功', 2000);
      setTimeout("window.location.reload()",2000)
      }, (res) => {
        console.log(res.errmsg)
      })
    },
    deledu(id){
     this.ajax.delete('/education/delete/'+id,(res) => {
      weui.toast('删除成功', 2000);
      setTimeout("window.location.reload()",2000)
      }, (res) => {
        console.log(res.errmsg)
      })
    }
  }
})
</script>