<!--顶部导航栏-->
<%- tname%>
<!--轮播图-->
<div id="carouselId" class="carousel slide h-150 m-t-46" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselId" data-slide-to="0" class="active"></li>
    <li data-target="#carouselId" data-slide-to="1"></li>
    <li data-target="#carouselId" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox" style="height:150px">
    <div class="carousel-item active" v-for='n in swiper'>
      <img :src="n.url" alt="First slide" class='w-100'>
    </div>
</div>
<div class=" bg-white f-s-8 m-b-85">
  <p class="p-y-5 p-x-15 mb-0">
    <span class='f-s-f16 f-w-d'>{{detail.name}}</span>
    <span class="float-right f-s-f12 t-c-666">{{time.dateFormat('yyyy/MM/dd',detail.time)}}</span>
  </p>
  <p class="p-r-15 p-l-12 mb-0">
    <i class="icon f-s-f20 t-c-00baf3 va-m">&#xe8e0;</i>
    <span class='f-s-f12 t-c-666 va-m'>{{detail.address}}</span>
  </p>
  <p class="p-t-8 p-b-10 p-x-15 mb-0 t-c-666">{{detail.content}}</p>
  <p style="text-align: center;">
    <a name="" id="" class="btn btn-primary p-y-5 p-x-40 m-y-10 bg-00baf3 f-s-f16" href="#" role="button" @click='signUp'>报名</a>
  </p>
  
</div>
<%- fjob%>

<script> 
new Vue({
  el: '#app',
  data: {
    type:0,
    cultivate:[],
    id: '',
    name:'课程详情',
    detail:[],
    swiper:[]
  },
  mounted () {
    this.id = this.query.get('id')
    console.log(this.id)
    this.ajax.get('/cultivate/detail/' + this.id, (res) => {
      this.cultivate = res.data
      console.log(this.cultivate)
      this.swiper = this.cultivate[1]
      console.log(this.swiper)
      this.detail = this.cultivate[0][0]
    }, (err) => {
      console.log(err)
    })
  },
  methods: {
    signUp(){
      this.ajax.post('/add/cultivate/record',{culid:this.detail.id,culname:this.detail.name},(res) => {
        weui.toast('报名成功', 2000);
      }, (err) => {
        console.log(err)
      })
    },
  }
})
</script>