<!--顶部导航栏-->
<%- tname%>
<!--顶部navbar-->
<div class="container-fluid bg-white f-s-8 fixed-top m-t-46">
  <div class="row">
    <div v-for="t in tab" @click="type = t.id" class="col p-y-10 text-center p-x-0">
      <span :class="{'bor-b-sol':type == t.id,'bor-00baf3':type == t.id,'p-b-11': type== t.id,'t-c-00baf3': type== t.id}">{{t.name}}</span>
    </div>
  </div>
</div>
<!--瑞安-->
<div class="m-t-85" v-show='type == 0'>
  <!--轮播图-->
  <div id="carouselId" class="carousel slide h-150" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselId" data-slide-to="0" class="active"></li>
      <li data-target="#carouselId" data-slide-to="1"></li>
      <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="height:150px">
      <div class="carousel-item active w-100" v-for='n in images'>
        <img :src="n.url" alt="First slide" class='w-100'>
      </div>
    </div>
  </div>
  <!--学校简介-->
  <div class="w-100 bg-white m-t-5 py-0 p-x-15 f-s-8">
    <p class="p-b-5 px-0 bg-white t-c-009 mb-0 bor-b-sol bor-e0e p-t-10">
      <i class="icon f-s-15 va-m t-c-00baf3">&#xe829;</i>
      <span class="f-s-9 t-c-000 va-m f-s-f15 p-l-5">学校简介</span>
    </p>
    <p class="p-t-8 p-b-10 px-0 mb-0 t-c-666">{{detail.summary}}</p>
  </div>
  <!--培训列表-->
  <div class="container-fluid w-100 bg-white m-t-5 f-s-6">
    <p class="p-b-5 px-0 bg-white t-c-009 mb-0 bor-b-sol bor-e0e p-t-10">
      <i class="icon f-s-15 va-m t-c-00baf3">&#xe829;</i>
      <span class="f-s-9 t-c-000 va-m f-s-f15 p-l-5">培训课程</span>
    </p>
    <div class="row p-x-10">
      <div class="col-6 p-y-15 bor-b-sol bor-e0e px-0" v-for='cult in ruian'>
        <a :href="'/front/jobseeker/ruian_detail?id='+ cult.id" class="d-block w-100 h-100 t-c-0a0">
          <div class="w-55 text-left float-left p-l-5">
            <p class="m-0 p-y-5 px-0 f-s-f15 f-w-d">{{cult.name}}</p>
            <p class="m-0 p-y-5 px-0 t-c-666">高压、低压</p>
          </div>
          <div class="w-45 p-t-p5 float-right ">
            <img src="../../../skins/img/class.jpg" alt="" class='w-90'>
          </div>
        </a>
      </div>
    </div>
    <div class="row p-x-10 p-y-15" v-if='last'>
      <a :href="'/front/jobseeker/ruian_detail?id='+ last.id" class="d-block w-100 h-100 t-c-0a0">
        <div class="w-45 p-t-10 p-r-10 float-left text-right">
          <img src="../../../skins/img/class.jpg" alt="" class='w-40'>
        </div>
        <div class="w-55 text-left float-right p-l-5">
          <p class="m-0 p-y-5 px-0 f-s-f15 f-w-d">{{last.name}}</p>
          <p class="m-0 p-y-5 px-0 t-c-666">高压、低压</p>
        </div>
      </a>
    </div>
  </div>
  <!--我们的优势-->
  <div class=" bg-white m-t-5 py-0 p-x-15 f-s-8 m-b-80">
    <p class="p-b-5 px-0 bg-white t-c-009 mb-0 bor-b-sol bor-e0e p-t-10">
      <i class="icon f-s-15 va-m t-c-00baf3">&#xe829;</i>
      <span class="f-s-9 t-c-000 va-m f-s-f15 p-l-5">优势</span>
    </p>
    <p class="p-t-8 p-b-10 px-0 mb-0 t-c-666">{{detail.merit}}</p>
  </div>
</div>
<!--职称考试/企业培训-->
<div class="m-b-80 m-t-85" v-show='type != 0'>
  <ul>
    <li v-for="cul in list" class="w-100 bg-white f-s-8 m-b-5" v-show="cul.type == type"> 
      <a :href="'/front/jobseeker/class_detail?id=' + cul.id " class="d-block w-100 h-100 t-c-0a0">
        <img class="w-100 h-135" :src="cul.img" alt="">
        <p class="p-y-5 p-x-15 mb-0">
          <span class='f-s-f16 f-w-d'>{{cul.name}}</span>
          <span class="float-right f-s-f12 t-c-666">{{time.dateFormat('yyyy/MM/dd', cul.class_starttime)}}</span>
        </p>
        <p class="p-y-5 p-r-15 p-l-12 mb-0">
          <i class="icon f-s-f20 t-c-00baf3 va-m">&#xe8e0;</i>
          <span class='f-s-f12 t-c-666 va-m'>{{cul.address}}</span>
        </p>
      </a>
    </li>
  </ul>
</div>
<%- fjob%>

<script> 
new Vue({
  el: '#app',
  data: {
    type:0,
    list:[],
    tab:[{id:0,name:'瑞安机电培训'},{id:1,name:'职称考试'},{id:2,name:'企业培训'}],
    name:'培训列表',
    school:[],
    images:[],
    detail:[],
    ruian:[],
    last:''
  },
  mounted () {
    this.ajax.get('/cultivate/lists', (res) => {
      this.list = res.data
      for(let n of this.list){
        if(n.type == 0){
          this.ruian.push(n)
        }
      }
      if(this.ruian.length%2 == 1){
        this.last = this.ruian.pop()
      }
      console.log(this.ruian)
      console.log(this.last)
    }, (err) => {
      console.log(err)
    })
    this.ajax.get('/school/detail', (res) => {
      this.school = res.data
      console.log(this.school)
      this.images = this.school[1]
      this.detail = this.school[0][0]
    }, (err) => {
      console.log(err)
    })
  },
  methods: {
    
  }
})
</script>