<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee  align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 ">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-15">&#xe86c;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span>编辑工作经历</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid m-t-46">
  <div class="bg-white">
    <div class="row bg-white f-s-9 pt-2 pb-2 bor-b-sol bor-f1">
      <div class="col-4">公司名称</div>
      <div class="col-8 text-right">
        <input type="text" class="border-0 text-right" placeholder="请输入公司名称" v-model='data.company'>
      </div>
    </div>

    <div class="row bg-white f-s-9 pt-2 pb-2 bor-b-sol bor-f1">
      <div class="col-4">职位名称</div>
      <div class="col-8 text-right">
        <input type="text" class="border-0 text-right" placeholder="请输入职位名称"v-model='data.job'>
      </div>
    </div>

    <div class="row bg-white f-s-9 pt-2 pb-2 bor-b-sol bor-f1">
      <div class="col-4">开始时间</div>
      <div class="col-8 text-right">
        <input type="date"  v-model='data.start' class="text-right">
      </div>
    </div>

    <div class="row bg-white f-s-9 pt-2 pb-2 bor-b-sol bor-f1">
      <div class="col-4">结束时间</div>
      <div class="col-8 text-right">
        <input type="date" v-model="data.end" class="text-right" >
      </div>
    </div>

    <div class="row bg-white f-s-9 pt-2 pb-2">
      <a @click='next' class="btn br-0 bg-primary t-c-white m-10-auto" >保存</a>
    </div>
 </div>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data:{},
    sc:false
  },
  mounted () {
    this.ajax.get('/user/experience/detail/'+this.query.get('id'),(res) => {
      this.data = res.data[0]
      this.data.start = this.time.dateFormat('yyyy-MM-dd',this.data.start)
      this.data.end = this.time.dateFormat('yyyy-MM-dd',this.data.end)
      }, (res) => {
        console.log(res.errmsg)
    })
  },
  methods: {
    next(){
      // 另一个页面传进来的值
      this.data.id = 1
       this.data.start=(parseInt(new Date(this.data.start).getTime().toString().substr(0, 10)))
      this.data.end=(parseInt(new Date(this.data.end).getTime().toString().substr(0, 10)))
      console.log(this.data)
      this.ajax.put('/experience/edit', this.data,(res) => {
        console.log('编辑成功')
        window.history.go(-1)
        }, (res) => {
          console.log(res.errmsg)
        })
    }
  }
})
</script>