<style>
  body{ background-color: #fff!important; }
  .bg-light{ background-color: #fff!important; height: 50px; line-height: 50px; border-bottom: 1px solid #f1f1f1; }
</style>
<div class="container-fluid">
  <div class="row bg-light justify-content-left fixed-top">
    <div class="col-2 text-center"><a href="javascript:history.go(-1)" class="icon">&#xe7c5;</a></div>
    <div class="col-8 text-center">我的简历</div>
  </div>
  <form action="#" class="m-t-50 f-s-8">
    <div class="row bg-32a p-t-p5 p-b-5">
      <div class="col-12 text-center">
        <input type="file" class="in-out" id = 'head' >
        <span class="text-center db t-c-white f-s-8" >好的工作从头像开始！</span>
      </div>
    </div>
    
    <div class="row from-group bor-b-sol bor-eee p-y-p2">
      <div class="col-12">
        <span class="f-w-b f-s-10">个人资料</span>
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label class="col-4 col-from-label align-self-center m-b-0">姓名</label>
      <div class="col-7 p-x-0">
        <input type="text" class="form-control-plaintext border-0 w-100 text-right p-y-0 in-out" placeholder="请输入姓名" v-model='data.name'>
      </div>
      <div class="col-1 align-self-center text-center p-x-0">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">性别</label>
      <div class="col-6 p-x-0 text-right">
        <div class="form-check form-check-inline m-b-0">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="isopen" value="0" v-model='data.sex' > 男
          </label>
        </div>
        <div class="form-check form-check-inline m-b-0">
          <label class="form-check-label m-b-0">
            <input class="form-check-input" type="radio" name="isopen" value="1" v-model='data.sex'> 女
          </label>
        </div>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label class="col-4 col-from-label align-self-center m-b-0">出生年月</label>
      <div class="col-7 p-x-0">
        <input type="month" class="form-control form_datetime_2 " v-model='data.birthday'>
      </div>
      <div class="col-1 align-self-center text-center p-x-0">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">最高学历</label>
      <div class="col-6 p-x-0 align-self-center text-right">
        <select v-model='data.education' >
          <option v-for ="v in education" :value="v">{{v}}</option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">工作经验</label>
      <div class="col-6 p-x-0 align-self-center text-right">
        <select v-model='data.experience'>
          <option v-for ="v in kind" :value="v">{{v}}</option>
        </select>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">现居住地</label>
      <div class="col-6 p-x-0 align-self-center text-left">
        <div class="row">
          <div class="col-6 p-x-0 ">
            <select  v-model='data.area'>
              <option v-for ="v in area" :value="v">{{v}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-2 align-self-center text-right">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">手机号码</label>
      <div class="col-7 p-x-0">
        <input type="text"  v-model='data.mobile' class="form-control-plaintext border-0 w-100 text-right p-y-0 in-out" placeholder="请输入手机号码">
      </div>
      <div class="col-1 align-self-center text-center p-x-0">
        <span class="t-c-e20">*</span>  
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2 row">
      <label for="" class="col-4 col-from-label align-self-center m-b-0">邮箱</label>
      <div class="col-7 p-x-0">
        <input type="text" v-model='data.email' class="form-control-plaintext border-0 w-100 text-right p-y-0 in-out" placeholder="请输入邮箱">
      </div>
      <div class="col-1 align-self-center text-center p-x-0">
        <span class="t-c-e20">*</span>  
      </div>
    </div>
    <div class="row">
      <a @click='add' class="btn br-0 bg-primary t-c-white m-10-auto" >下一步</a>
    </div>
  </form>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data: {
      head:[],
      name:'',
      sex:0,
      birthday:0,
      experience:'',
      education:'',
      area:'',
      mobile:'',
      email:''
    },
    experience:[],
    education:[],
    area:[],
    kind:[]
  },
  mounted () {
    this.ajax.get('/user/resume', (res) => {
      this.data = res.data[0]
      this.data.birthday= this.time.dateFormat('yyyy-MM',this.data.birthday)
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/experience/list', (res) => {
      this.experience = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/education/list', (res) => {
      this.education = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/area/list', (res) => {
      this.area = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/experience/list', (res) => {
      this.kind = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    add(){
      this.data.head = head.value
      this.data.birthday=(parseInt(new Date(this.data.birthday).getTime().toString().substr(0, 10)))
      this.ajax.put('/edit/basis', this.data,(res) => {
      weui.toast('编辑成功', 2000);
      setTimeout( 'window.history.go(-1)', 2000)
      }, (res) => {
        console.log(res.errmsg)
      })
    }
  }
})
</script>
