<%- tname %>
<div class="container-fluid m-t-46  p-x-0">
  <div class="from-group p-y-p3 f-s-8  bg-white w-100">
    <textarea v-model='data.evaluate' rows="2" class="w-100 border-0 in-out p-x-10" placeholder="[示例] 本人工作2年，性格开朗熟练掌握各种技能，待人友好，为人诚恳。"></textarea>
  </div>
  <div class="row item pt-3 m-x-0">
    <button @click='next' class="btn bg-00b t-c-white m-10-auto p-x-30">确定</button>
  </div>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data:{},
    name:'个人评价'
  },
  mounted () {
    this.ajax.get('/user/resume', (res) => {
      this.data = res.data[0]
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    next(){
      this.ajax.put('/evaluate/add', this.data,(res) => {
        weui.toast('提交成功', 1500);
        // 跳页
        setTimeout("window.location.href='/front/jobseeker/resume_detail'",1500)
        }, (res) => {
          console.log(res.errmsg)
        })
    }
  }
})
</script>