<style>
  body{ background-color: #fff!important; }
  .bg-light{ background-color: #fff!important; height: 50px; line-height: 50px; border-bottom: 1px solid #f1f1f1; }
  .btn{ color: #fff; background-color: #199ed8; border-radius: 0px; margin: 10px auto; }
  .jump{ color: #666; }
</style>
<div class="container-fluid">
  <div class="row bg-light justify-content-left fixed-top">
    <div class="col-2 text-center"><a href="javascript:history.go(-1)" class="icon t-c-999">&#xe7c5;</a></div>
    <div class="col-8 text-center">求职意向</div>
  </div>

  <form action="#" class="m-t-50 f-s-9">
    <div class="from-group bor-b-sol bor-eee p-y-p2">
      <div class="row">
        <div class="col-4">期望职位</div>
        <div class="col-6 text-right none">
          <a href="/front/jobseeker/job_content" class="jump">
            <span>请选择职位类别</span>
            <i class="icon">&#xe7c4;</i>
          </a>
        </div>
        <div class="col-2 align-self-center text-center none">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2">
      <div class="row">
        <div class="col-4">期望薪资</div>
        <div class="col-6 text-right none">
          <select v-model='data.pay'>
            <option value="0">请选择</option>
            <option v-for='v in pay' :value="v" >{{v}}</option>
          </select>
        </div>
        <div class="col-2 align-self-center text-center none">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>
     <div class="from-group bor-b-sol bor-eee p-y-p2">
      <div class="row">
        <div class="col-4">求职地区</div>
        <div class="col-6 text-right none">
          <select v-model='data.want_area'>
            <option value="0">请选择</option>
            <option v-for='v in area' :value="v" >{{v}}</option>

          </select>
        </div>
        <div class="col-2 align-self-center text-center none">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <a @click='next' class="btn br-0 bg-32a t-c-white m-10-auto">下一步</a>
    </div>
  </form>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    pay:[],
    data:{},
    area:[],
  },
  mounted () {
    this.ajax.get('/pay/list', (res) => {
      this.pay = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/user/resume', (res) => {
      this.data = res.data[0]
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/area/list', (res) => {
      this.area = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    next(){
      // 另一个页面传进来的值
      this.data.id = 1
      this.data.jtid = 4
      this.ajax.put('/add/wanted', this.data,(res) => {
        console.log('提交成功')
        // window.location.href='/front/jobseeker/assess'
        window.location.href='/front/jobseeker/assess'
        }, (res) => {
          console.log(res.errmsg)
        })
    }
  }
})
</script>

