<%- tname %>
<div class="container-fluid m-t-46 bg-white ">
  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <span class='bor-r-sol bor-f6 w-25 dinb'>学校名称</span>
    <input type="text" class="border-0 w-70 text-right" placeholder="请输入学校名称" v-model='data.school'>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <div class="col-3 bor-r-sol bor-f6 p-x-0">学历/学位</div>
    <div class="col-9 text-right">
      <select v-model='data.education' class='bg-fff h-20'>
        <option :value="v" v-for='v in education' > {{v}} </option>
      </select>
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <div class="col-3 bor-r-sol bor-f6 p-x-0">开始时间</div>
    <div class="col-9 text-right p-x-0">
      <input type="date" v-model='data.start' class="text-right bg-fff h-20" >
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <div class="col-3 bor-r-sol bor-f6 p-x-0">结束时间</div>
    <div class="col-9 text-right p-x-0">
      <input type="date" v-model='data.end' class="text-right bg-fff h-20" >
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <span class='bor-r-sol bor-f6 w-25 dinb'>专业</span>
    <input type="text" class="border-0 w-70 text-right" placeholder="请输入专业名称" v-model='data.speciality'>
  </div>

</div>
<div class="row m-x-0 item pt-3">
  <button @click='next' class="btn bg-00b t-c-white m-10-auto p-x-30">确定</button>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data:{},
    education:[],
    name:'教育经历'
  },
  mounted () {
    this.ajax.get('/user/education/detail/'+this.query.get('id'),(res) => {
      this.data = res.data[0]
      this.data.start = this.time.dateFormat('yyyy-MM-dd',this.data.start)
      this.data.end = this.time.dateFormat('yyyy-MM-dd',this.data.end)
      }, (err) => {
        this.msg.error('app',err.errmsg)
    })
    this.ajax.get('/education/list',(res) => {
      this.education = res.data
      }, (err) => {
        this.msg.error('app',err.errmsg)
    })
  },
  methods: {
    next(){
      this.data.start=(new Date(this.data.start).getTime() / 1000)
      this.data.end=(new Date(this.data.end).getTime() / 1000)
      this.ajax.put('/education/edit', this.data,(res) => {
      weui.toast('提交成功', 2000);
      if(this.query.get('type')){
        setTimeout(function () { window.location.href='/front/jobseeker/assess_ok'}, 2000)
      }else{
        setTimeout(function () { window.location.href='/front/jobseeker/resume_detail'}, 2000)
      }
        }, (err) => {
          this.msg.error('app',err.errmsg)
        })
    }
  }
})
</script>