<div class="container-fluid header pf t-0 h-45 lh-45 bg-eee z-1000  fixed-top" >
  <div class="row  bg-eee">
    <div class="col-1 icon icon_1 mt-3 pl-2" style='font-size:18px;' @click='switch_1'>&#xe873;</div>
    <div class="col-10 pl-2" >
      <input type="autocomplete" placeholder="搜索职位/公司" class='h-28 w-100 bg-fff f-s-8 t-c-eee' style='padding-left: 10%;'@focus='link'>
      <span class='icon' style='position: absolute; top:40%; left:5%;'>&#xe7fd;</span>
    </div>
    <div class="col-1 icon pl-0 mt-3 letter" style='font-size:18px; position: relative'><a href='/front/jobseeker/invitation_receive'>&#xe7d5;<a><span style='position: absolute; display: inline-block; width:6px; height:6px; background: red; border-radius: 50%; top:0; right:34%;' v-for='n in status_1' v-show='n.status = 1'></span></div>
  </div>
</div>
<!--轮播图-->
<div id="carouselId" class="carousel slide mt-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselId" v-for='(v,i) in swiper' :data-slide-to="i" class="active"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item " v-for='(v,i) in swiper' :class="{'active': i == 0}">
      <img :src="v.url" class='w-100 h-h165'>
    </div>
  </div>
</div>
<!---->
<div class="container-fluid content bor-sol bor-79">
  <div class="row bg-eee h-80">
    <a href="/front/jobseeker/cultivate_list" class="col-6 p-0 bor-r-sol bor-79">
      <div>
        <div class='float-left pl-3 w-w40 m-t-p15 t-c-0a0'>
          <img src="../../../skins/img/1.jpg" class='h-30 w-w40'>
        </div>
        <div class='w-60 w-60 float-right f-s-7 m-t-p10'>
          <p class='m-t-8 m-b-0'>新区培训</p>
          <p class='t-c-666'>我们祝你就业</p>
        </div>
      </div>
    </a>
    <a href="/front/jobseeker/play" class="col-6 p-0 bor-r-sol bor-79">
      <div>
        <div class='float-left pl-3 w-40 m-t-p15 t-c-0a0'>
          <img src="../../../skins/img/1.jpg" class='h-30 w-w40'>
        </div>
        <div class='w-60 float-right f-s-7 m-t-p10'>
          <p class='m-t-8 m-b-0'>新区直播</p>
          <p class='t-c-666'>新区直播开始啦</p>
        </div>
      </div>
    </a>
  </div>
</div>
<!--直播-->
<div class="container-fluid p-0 broadcast h-128 pr">
  <a :href="live.href">
    <img :src="live.img" class='w-100 h-128'>
  </a>
  <p class='pa t-4 l-0 bg-316 w-w70 h-26 f-s-7 lh-26 t-c-fff p-l-3' style='border-radius:0 50px 50px 0;'>{{status[live.status]}}</p>
  <div class='div pa b-0 f-s-7 h-28 w-100 lh-28 t-c-fff' style='background-color: rgba(0,0,0,0.5);'>
    <span class='float-left p-l-10'>{{live.name}}</span>
    <span class='float-right p-r-10'>开讲时间:{{time.dateFormat('yyyy/MM/dd',live.time)}}</span>
  </div>
</div>
<!--热门岗位-->
<div class='post container-fluid h-40 w-100 bg-e4 m-t-5 f-s-8 lh-40'>
  <span class="icon p-r-10">&#xe8b0;</span>
  <span class='t-c-666'>热门岗位</span>
</div>
<!--热门岗位1-->
<div class='container-fluid m-b-60'>
  <ul class=" f-s-8">
    <li class=" bg-white bor-r-5 p-10 pr row bor-b-sol bor-ccc" v-for='list in list'>
      <a href="/front/jobseeker/jobseeker_detail" class='w-100'>
        <p class="w-100 m-b-10">
          <span class="f-s-10 f-w-6">{{list.name}}</span>
          <span class="float-right t-c-0a0" v-if='start <list.issue_time'>今天</span>
          <span class="float-right t-c-0a0" v-if='start-86400<list.issue_time && list.issue_time< start'>昨天</span>
          <span class="float-right t-c-0a0" v-if='start-86400>list.issue_time'>{{time.dateFormat('MM/dd',list.issue_time)}}</span>
        </p>
        <p class="w-100 m-b-5">
          <span class="t-c-ff5">{{list.pay}}</span>
        </p>
        <p class="w-100 m-b-5">
          <span><i class="icon">&#xe621;</i>{{list.area}}</span>
          <span><i class="icon">&#xe86a;</i>{{list.education}}</span>
          <span><i class="icon">&#xe68c;</i>{{list.experience}}</span>
        </p>
        <p class="w-100 m-b-5" >
          <span class="bor p-x-2 m-l-3 bor-sol bor-ccc t-c-d br-5 p-l-5 f-s-5 dinb m-t-5" v-for="i in list.benefit.split('|')">{{i}}</span>
        </p>
        <p class="w-100 m-b-5">
          <i class="icon">&#xe621;</i>
          <span>{{list.cname}}</span>
        </p>
      </a>
    </li>
  </ul>
</div>
<%- f%>
<script>
new Vue({
  el: '#app',
  data: {
    list: [],
    live:[],
    swiper:[],
    benefit:[],
    status:['未开始','正在开始','已结束'],
    start:new Date().setHours(0, 0, 0, 0) / 1000
    msg:[],
    datail:[],
    status_1:[],
  },
  mounted () {
    this.ajax.get('/home/swiper', (res) => {
      this.swiper = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/live/list', (res) => {
      this.live = res.data[0]
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/job/all/list', (res) => {
      this.list = res.data
    }, (res) => {
      console.log(res.errmsg)
    }),
    this.ajax.get('/msg/red',(res)=>{
      this.msg = res.data
    },(err)=>{
      console.log(err)
    }),
    this.ajax.get('/user/invite/record',(res)=>{
      this.datail = res.data
      for(var i=0;i<this.datail.length;i++){
        this.status_1.push(this.datail[i].status)
      }
    },(err)=>{

    })
  },
  methods: {
  }
})
</script>