<!--顶部导航栏-->
<%- tname%>

<!--没有列表是显示图片-->
<div class="w-100 m-t-p35 text-center" v-show='list.length == 0'>
  <img src="../../../skins/img/empty2.jpg" alt="" class="w-70">
  <p class='w-100 text-center t-c-999 f-s-f12 mb-0 m-t-10'>暂无面试邀请</p>
  <p class='w-100 text-center t-c-999 f-s-f12 mb-0'>快去投递简历吧~</p>
</div>
<!--中间内容-->
<div class="m-b-80 m-t-55" v-show='list.length != 0'>
  <ul class="list f-s-8">
    <li class="p-10 bg-white br-5 w-95 " style="margin:0 auto; margin-top:10px;" v-for='n in list'>
      <p class="f-w-b f-s-f16  m-b-2">面试邀请</p>
      <p class="f-s-f15 t-c-f420 my-1">{{time.dateFormat( 'M月dd日', n.invitetime)}}</p>
      <p class="m-b-2 f-s-f14 t-c-000">
        <span>Hi,{{n.uname}}！您的简历符合我们的需求</span>
      </p>
      <p class="m-b-2 f-s-f14 t-c-000">
        <span>面试岗位：</span>
        <span>{{n.jname}}</span>
        <a :href="'/front/jobseeker/jobseeker_detail?jid=' + n.jid">查看</a>
      </p>
      <p class="m-b-2 f-s-f14 t-c-000">
        <span>面试时间：</span>
        <span>{{time.dateFormat( 'yyyy/MM/dd', n.interviewtime)}}</span>
      </p>
      <p class="m-b-2 f-s-f14 t-c-000">
        <span>联系电话：</span>
        <span class='va-m'>{{n.mobile}}</span>
        <span class='va-m'>({{n.linkname}})</span>
        <i class="icon t-c-1eaa39 f-s-f30 va-m" @click='phone(n.mobile)'>&#xe845;</i>
      </p>
      <p class="m-b-2 f-s-f14 t-c-000">
        <span>公司名称：</span>
        <span>{{n.cname}}</span>
      </p>
      <p class="m-b-2 f-s-f14 t-c-000">
        <span>面试地址：</span>
        <span>{{n.address}}</span>
      </p>
      <p class="m-b-2 f-s-f14 t-c-999">
        <span>注：</span>
        <span>{{n.remark}}</span>
      </p>
    </li>
    
  </ul>
</div>

<%- fjob%>
<script> 
new Vue({
  el: '#app',
  data: {
    list:[],
    name:'面试邀请',
    keyword:'my'
  },
  mounted () {
    this.ajax.get('/user/invite/record', (res) => {
      this.list = res.data
      console.log(this.list)
    }, (err) => {
      console.log(err)
    })
  },
  methods: {
    signUp(){
      this.ajax.post('/add/cultivate/record',{culid:this.cultivate.id,culname:this.cultivate.name},(res) => {
        weui.toast('报名成功', 2000);
      }, (err) => {
        console.log(err)
      })
    },
    phone(date){
      window.location.href = 'tel:' + date;
    },
  }
})
</script>
