<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee  align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 ">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-15">&#xe86c;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span>求职意向</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid bg-white m-t-46">
  <form action="#" class="f-s-9">
    <div class="from-group bor-b-sol bor-eee p-y-p2">
      <div class="row">
        <div class="col-4">期望职位</div>
        <div class="col-6 text-right none">
          <a href="/front/jobseeker/job_content" class="jump">
            <span>{{name}}</span>
            <i class="icon">&#xe7c4;</i>
          </a>
        </div>
        <div class="col-2 align-self-center text-center none">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="from-group bor-b-sol bor-eee p-y-p2">
      <div class="row">
        <div class="col-4">期望薪资</div>
        <div class="col-6 text-right none">
          <select v-model='data.pay'>
            <option v-for='v in pay' :value="v" >{{v}}</option>
          </select>
        </div>
        <div class="col-2 align-self-center text-center none">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>
     <div class="from-group bor-b-sol bor-eee p-y-p2">
      <div class="row">
        <div class="col-4">求职地区</div>
        <div class="col-6 text-right none">
          <select v-model='data.want_area'>
            <option v-for='v in area' :value="v" >{{v}}</option>
          </select>
        </div>
        <div class="col-2 align-self-center text-center none">
          <span class="t-c-e20">*</span>  
        </div>
      </div>
    </div>

    <div class="row">
      <a @click='next' class="btn br-0 bg-32a t-c-white m-10-auto">下一步</a>
    </div>
  </form>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    pay:[],
    data:{},
    area:[],
    name:'请选择职位类别'
  },
  mounted () {
    if(this.query.get('name')){
      this.name=this.query.get('name')
    }
    this.ajax.get('/pay/list', (res) => {
      this.pay = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/area/list', (res) => {
      this.area = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    next(){
      this.data.jtid = this.query.get('id')
      this.ajax.put('/add/wanted', this.data,(res) => {
        weui.toast('添加成功', 2000);
          setTimeout(function () {window.location.href='/front/jobseeker/assess'}, 2000)
        }, (res) => {
          console.log(res.errmsg)
        })
    }
  }
})
</script>

