<%- tname %>
<div class="container-fluid m-t-46 bg-white p-x-30 ">
  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2">
    <div class="col-3 bor-r-sol bor-eae p-x-0">期望职位</div>
    <div class="col-9 text-right p-x-0">
      <a href="/front/jobseeker/job_content?type=add" class="jump">
        <span>{{jtname}}</span>
        <i class="icon">&#xe7c4;</i>
      </a>
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2">
    <div class="col-3 bor-r-sol bor-eae p-x-0">期望薪资</div>
    <div class="col-9 text-right none pr">
      <i class="icon pa t-25 t-c-bf r-4">&#xe62e;</i>
      <select v-model='data.pay' class="bg-ef br-3 h-24 w-50 t-c-666 f-s-f14 p-l-2">
        <option value=''>请选择期望薪资</option>
        <option v-for='v in pay' :value="v" >{{v}}</option>
      </select>
    </div>
  </div>
    <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2">
      <div class="col-3 bor-r-sol bor-eae p-x-0">求职地区</div>
      <div class="col-9 text-right none pr">
        <i class="icon pa t-25 t-c-bf r-4">&#xe62e;</i>
        <select v-model='data.want_area' class="bg-ef br-3 h-24 w-50 t-c-666 f-s-f14 p-l-2">
          <option value=''>请选择求职地区</option>
          <option v-for='v in area' :value="v" >{{v}}</option>
        </select>
      </div>
  </div>
</div>
<div class="text-center">
  <button @click='next' class="btn bg-00b t-c-white m-t-10 p-x-30">保存</button>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    pay:[],
    data:{
      pay:'',
      want_area:''
    },
    area:[],
    name:'求职意向',
    jtname:'请选择职位类型'
  },
  mounted () {
    if(this.query.get('name')){
      this.jtname=this.query.get('name')
    }
    this.ajax.get('/pay/list', (res) => {
      this.pay = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/area/list', (res) => {
      this.area = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    next(){
      this.data.jtid = this.query.get('id')
      this.ajax.put('/add/wanted', this.data,(res) => {
        weui.toast('添加成功', 2000);
          setTimeout(function () {window.location.href='/front/jobseeker/assess'}, 2000)
        }, (res) => {
          console.log(res.errmsg)
        })
    }
  }
})
</script>

