<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee  align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 ">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-15">&#xe86c;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span>选择期望职位</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container-fluid m-t-46">
  <div class="row">
    <div class="col-5 none">
      <ul class="list-unstyled text-center">
        <li v-for='v in big' @click='onbig(v.id)' class="bg-f3f h-40 lh-40 bor-b-sol bor-aaa">{{v.name}}</li>
      </ul>
    </div>
    <div class="col-7 none pl-1 pr-1 bg-white">
      <ul class="list">
        <li v-for='v in middle'  >
          <i class="icon">&#xe806;</i>
          <span @click='onsmall(v.id)'>{{v.name}}</span>
          <i class="icon right">&#xe7c3;</i>
            <ul class="child" >
              <li v-for='i in small' v-if='v.id==i.mid' @click='choose(i.id,i.name)'>{{i.name}}</li>
            </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
<script>
new Vue({
  el: '#app',
  data: {
    type:[],
    big:[],
    middle:[],
    small:[]
  },
  mounted () {
    this.ajax.get('/jobtype/list', (res) => {
      this.experience = res.data
      for(let v of this.experience){
        if(v.bid == 0){
          this.big.push(v)
        }
      }
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    onbig(id){
      this.middle=[]
      for(let v of this.experience){
        if(v.bid==id&& v.mid ==0 ){
          this.middle.push(v)
        }
      }
    },
    onsmall(id){
      this.small=[]
     for(let v of this.experience){
        if(v.mid ==id ){
          this.small.push(v)
        }
      }
    },
    choose(id,name){
      // console.log(window.location.history)
      window.location.href='/front/jobseeker/edit_job?id='+id+'&name='+ name
    }
  }
})
</script>