<!--顶部导航栏-->
<%- tname%>
<!--职位详情-->
<div class='container-fluid m-b-8 m-t-54'>
  <ul class="f-s-8 m-b-0">
    <li class="bg-white bor-r-5 p-10 pr row bor-b-sol bor-ea">
      <p class="w-100 m-b-10">
        <span class="f-s-10 f-s-f16 t-c-32 f-w-600 t-c-3232"> {{list.name}} </span>
        <span class='float-right t-c-0a0 f-s-f14 t-c-999' v-if='start < list.issue_time'>今天</span>
        <span class='float-right t-c-0a0 f-s-f14 t-c-999' v-if='start-86400 < list.issue_time && list.issue_time < start'>昨天</span>
        <span class="float-right t-c-0a0 f-s-f14 t-c-999" v-if='start-86400 > list.issue_time'> {{time.dateFormat('MM/dd',list.issue_time)}}</span>
      </p>
      <p class="w-100 m-b-5">
        <span class="t-c-ff4 f-s-f15">{{list.pay}}</span>
      </p>
      <p class="w-100 m-b-5">
        <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 p-r-3">&#xe8e0;</i>{{list.area}}</span>
        <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 m-l-10 p-r-3">&#xe8e3;</i>{{list.education}}</span>
        <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 m-l-10 p-r-3">&#xe8e1;</i>{{list.experience}}</span>
      </p>
      <p class="w-100 m-b-5 f-s-f11" >
        <span class="bor p-x-2 m-l-8 br-5 p-l-5 dinb m-t-5 t-c-758 bg-f6" v-for='n in arry'>{{n}}</span>
      </p>
      <p class="w-100 m-b-5 m-t-15 bor-t-sol bor-ea p-t-5">
        <a :href="'/front/jobseeker/job_company_list?id='+list.cid">
          <img :src="'http://xiongan.tset.hesq.com.cn/image/'+list.logo" class='br-h h-h32 w-w32'>
          <span class='f-s-f13 t-c-999' v-if='list.cname.length >14'>{{list.cname.substring(1,15)+'...'}}</span>
          <span class='f-s-f13 t-c-999' v-if='list.cname.length <14'>{{list.cname}}</span>
          <span class="icon p-l-f2 m-l-5 f-s-f18 mt-2 t-c-7c88">&#xe7c4;</a></span>
        </a>
        <span class='collect-1 dinb h-h25 lh-25 w-w60 ta-c br-5 bor-sol bor-00bb right m-t-5' @click='cancel(list.id)' v-if="show_1 == false">收藏</span>
        <span class='collect-1 dinb h-h25 w-w60 ta-c lh-25 br-5 right bg-00bb t-c-fff  m-t-5' @click='cancel1(list.id)' v-if="show_1 == true">已收藏</span>
      </p>
    </li>
  </ul>
</div>
<!--岗位职责-->
<div class='m-b-60'>
  <div class="container-fluid p-x-10 content bg-fff bor-t-sol bor-ea bor-b-sol m-b-8" >
    <div class='p-y-p2 f-s-8 bor-b-sol bor-ea f-s-f15'>
      <i class="icon f-s-8 p-y-3 m-t-3 t-c-00a f-s-f15">&#xe8f3;</i>
      <span class='f-s-f15'>岗位职责</span>
    </div>
    <div class='content_1 f-s-6 t-c-666'>
      <p class='m-t-5 f-s-f14 t-c-7f' id='a'>{{str}}</p>
    </div>
    <div class='bottom ta-c t-c-009 f-s-12' @click='block' v-if='str==statement && statement_length.length > 80'>
      <i class="icon t-c-09a f-s-f35" >&#xe7c3;</i>
    </div>

    <div class='bottom ta-c t-c-009 f-s-12' @click='block' v-if='str==statement_length && statement_length.length > 80'>
      <i class="icon t-c-09a f-s-f35" >&#xe7c2;</i>
    </div>
  </div>
  <!--任职资格-->
  <div class="container-fluid p-x-10 content bg-fff bor-t-sol bor-ea bor-b-sol m-b-15">
    <div class='p-y-p2 f-s-8 bor-b-sol bor-ea f-s-f15' id='icon'>
      <i class="icon f-s-8 p-y-3 m-t-3 t-c-00a f-s-f15">&#xe8f3;</i>
      <span class='f-s-f15'>岗位要求</span>
    </div>
    <div class='content_1 f-s-6 t-c-666'>
      <p class='pt-3 f-s-f14 t-c-7f'>{{requ}}</p>
    </div>
    <div class='bottom ta-c t-c-009 f-s-12' @click='content'  v-if='requ==requirements && requirements_length.length > 80'>
      <i class="icon t-c-09a f-s-f35">&#xe7c3;</i>
    </div>
        <div class='bottom ta-c t-c-009 f-s-12' @click='content'  v-if='requ==requirements_length && requirements_length.length > 80'>
      <i class="icon t-c-09a f-s-f35">&#xe7c2;</i>
    </div>
  </div>
</div>
<div class='container-fluid bg-d w-100 ta-c h-h45 lh-45 t-c-fff f-s-8 pf b-0' @click='record(list.id)'>投递</div>
<!--投递弹层-->
<div id="dialog1" style="display: none;">
  <div class="weui-mask z-1030" @click='notshow1'></div>
  <div class="weui-dialog f-s-8 br-5">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title icon f-s-f40 t-c-f970">&#xe85e;</strong></div>
    <div class="weui-dialog__bd">您确认要投递简历吗?</div>
    <div class="weui-dialog__ft">
      <a class="weui-dialog__btn weui-dialog__btn_default" id='cancel' @click='notshow1'>取消</a>
      <a class="weui-dialog__btn weui-dialog__btn_primary t-c-0bb20c" @click='sure'>确认</a>
    </div>
  </div>
</div>
<!--失败弹层-->
<!--<div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail'>
    <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
    <p class="weui-toast__content">您还没有简历,请创建简历</p > 
</div>-->

<script> 
  new Vue({
    el:'#app',
    data:{
      list:[],
      benefit:[],
      arry:[],
      str:'',
      requ:'',
      statement:'',
      statement_length:'',
      requirements:'',
      requirements_length:'',
      show_1: true,
      resume:[],
      resume_1:[],
      start:new Date().setHours(0,0,0,0)/1000,
      // record:[]
      name:'职位详情',
      datail_1:[],
      jid:null
    },
    mounted(){
      this.ajax.get('/job/detail/'+this.query.get('id'),(res)=>{
        this.list = res.data[0]
        this.list.show = false
        this.arry = res.data[0].benefit.split('|')
        this.statement = res.data[0].statement.length > 80 ? res.data[0].statement.substring(0,80)+'...' : res.data[0].statement
        this.statement_length = res.data[0].statement
        this.str = this.statement
        this.requirements = res.data[0].requirements.length > 80? res.data[0].requirements.substring(0,80)+'...' : res.data[0].requirements
        this.requirements_length = res.data[0].requirements
        this.requ = this.requirements
      },(err)=>{
        this.msg.error('app',err.errmsg)
      }),
      // 是否收藏
      this.ajax.get('/user/collect/collect_list?jid='+this.query.get('id'),(res)=>{
        this.datail_1 = res.data
        if(this.datail_1.length == 0){
          this.list.show = this.list.show          
        }else{
          this.list.show = !this.list.show
        }
        this.show_1 = this.list.show
    },(err)=>{
      this.msg.error('app',err.errmsg)
    })
      // 个人简历
      this.ajax.get('/user/resume/datail',(res)=>{
        this.resume_1 = res.data
      },(err)=>{
        this.msg.error('app',err.errmsg)
      })
    },
    methods: {
      block(){
        if(this.str.length == 83){
          this.str = this.statement_length
        }else{
          this.str = this.statement
        }
      },
      content(){
        if(this.requ.length == 83){
          this.requ = this.requirements_length
        }else{
          this.requ = this.requirements
        }
      },
      // 收藏
      cancel(jid){
        this.ajax.post('/collect/job',{ jid: jid},(res)=>{
          this.list.show = !this.list.show
          this.show_1 = this.list.show
          weui.toast('收藏成功', 500);
        },(err)=>{
          this.msg.error('app',err.errmsg)
        })
      },
      cancel1(id){
        this.ajax.delete('/collect/delete/'+ id,(res)=>{
          this.list.show = !this.list.show
          this.show_1 = this.list.show
          weui.toast('取消收藏成功', 500);
          setTimeout(window.loction.reload(),2000)
        },(err)=>{
          this.msg.error('app',err.errmsg)
        })
      },


  // 投递
      notshow1(){
        let dialog1 = document.getElementById('dialog1')
        dialog1.style.display = 'none'
      },
      sure(jid){
        let dialog1 = document.getElementById('dialog1')
        setTimeout(dialog1.style.display = 'none',1000)
        if(this.resume_1 == 0){
          // let fail = document.getElementById('fail')
          //   fail.style.display = 'block'
          // setTimeout(function(){
          //   fail.style.display = 'none'
          // },2000)
          this.msg.error('app','您还没有简历,请创建简历!')
          setTimeout("window.location.href='/front/jobseeker/new_resume'",1500)
        }else{
          this.ajax.post('/add/resume/record',{jid:this.jid, rid:this.resume_1[0].id}, (res)=>{
          weui.toast('投递成功', 2000);
          },(err)=>{
            this.msg.error('app',err.errmsg)
          })
        }
      },
      record(jid){
        let dialog1 = document.getElementById('dialog1')
        dialog1.style.display = 'block'
        this.jid = jid
      },
      go(){
        window.history.go(-1);
      }
    }
  })
</script>