<%- h%>
<div class="container-fluid box m-t-46 pr">
  <div class="row row-one h-40 lh-40 bg-fff">
    <div class="col-3 screen p-0 f-s-6"><a href="###" class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-ccc t-c-0a0'>地区<i class='icon p-l-3 m-t-p3'>&#xe7c3;</i></a></div>
    <div class="col-3 screen p-0 f-s-6"><a href="###" class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-ccc t-c-0a0'>薪资<i class='icon p-l-3 m-t-p3'>&#xe7c3;</i></a></div>
    <div class="col-3 screen p-0 f-s-6"><a href="###" class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-ccc t-c-0a0'>发布时间<i class='icon p-l-3 m-t-p3'>&#xe7c3;</i></a></div>
    <div class="col-3 screen p-0 f-s-6 bor-0"><a href="###" class='dinb w-100 ta-c h-26 lh-26 m-t-p6  t-c-0a0'>发布岗位</a></div>
  </div>
</div>
<!--弹层-->
<div class='window container-fluid p-0 dn h-400 bg-rgba w-100 pa t-14 z-100'>
  <div class='datail h-150 bg-fff m-t-3 pr'>
    <ul class='m-b-0'>
      <li class='float-left p-l-f2 .p-r-f2 w-25 ta-c m-t-5'><span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8'>全部</span></li>
      <li class='float-left p-l-f2 .p-r-f2 w-25 ta-c m-t-5'><span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8'>容城</span></li>
      <li class='float-left p-l-f2 .p-r-f2 w-25 ta-c m-t-5'><span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8'>雄县</span></li>
      <li class='float-left p-l-f2 .p-r-f2 w-25 ta-c m-t-5'><span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8'>安新</span></li>
      <li class='float-left p-l-f2 .p-r-f2 w-25 ta-c m-t-5'><span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8'>容城</span></li>
    </ul>
    <button class='w-100 h-35 m-t-p3 f-s-8 t-c-fff bg-d pa b-0 l-0'>确定</button>
  </div>
</div>

<!--热门岗位1-->
<div>
  <div class=" container-fluid content px-10 m-t-p3">
    <ul class="list f-s-8">
      <li class="lis row m-x-0 p-10 bg-fff br-5 pr m-t-10">
        <a href="front/jobseeker/jobseeker_detail">
          <p class='w-100 m-b-5'>
            <span class="name f-s-10 f-w-600">电商产品经理</span>
            <span class="time float-right">今天</span>
          </p >
          <p>
            <span class="money t-c-b20">3000-5000</span>
          </p >
          <p class='left'>
            <span><i class="icon">&#xe621;</i>保定 北市区</span>
            <span class='p-l-6 f-s-6'><i class="icon">&#xe86a;</i>大专及以上</span>
            <span class='p-l-6 f-s-6'><i class="icon">&#xe68c;</i>经验不限</span>
          </p >
          <p>
            <span class="bor p-0 bor-sol bor-ccc t-c-d br-5 f-s-5 dinb m-t-5">五险一金</span>
            <span class="bor p-0 bor-sol bor-ccc t-c-d br-5 f-s-5 dinb m-t-5">周日单休</span>
            <span class="bor p-0 bor-sol bor-ccc t-c-d br-5 f-s-5 dinb m-t-5">法定节假</span>
          </p >
          <p>
            <i class="icon">&#xe621;</i>
            <span>保定市和社区外包有限公司</span>
          </p >
        </a>
      </li>
      <li class="lis row m-x-0 p-10 bg-fff br-5 pr m-t-10">
        <p class='w-100 m-b-5'>
          <span class="name f-s-10 f-w-600">电商产品经理</span>
          <span class="time float-right">今天</span>
        </p >
        <p>
          <span class="money t-c-b20">3000-5000</span>
        </p >
        <p class='left'>
          <span><i class="icon">&#xe621;</i>保定 北市区</span>
          <span class='p-l-6 f-s-6'><i class="icon">&#xe86a;</i>大专及以上</span>
          <span class='p-l-6 f-s-6'><i class="icon">&#xe68c;</i>经验不限</span>
        </p >
        <p>
          <span class="bor p-0 bor-sol bor-ccc t-c-d br-5 f-s-5 dinb m-t-5">五险一金</span>
          <span class="bor p-0 bor-sol bor-ccc t-c-d br-5 f-s-5 dinb m-t-5">周日单休</span>
          <span class="bor p-0 bor-sol bor-ccc t-c-d br-5 f-s-5 dinb m-t-5">法定节假</span>
        </p >
        <p>
          <i class="icon">&#xe621;</i>
          <span>保定市和社区外包有限公司</span>
        </p >
      </li>
    </ul>
  </div>
<%- f%>