<div class="container-fluid header pf t-0 h-45 lh-45 bg-ef  z-1030  fixed-top" >
  <div class="row">
    <div class="col-1 icon icon_1 mt-2 f-s-f22 pl-2 t-c-7c88 p-t-5" @click='switch_1' v-if="!query.get('name')">&#xe90b;</div>
    <a class="col-1 icon icon_1 mt-2 f-s-f22 pl-2 t-c-7c88 p-t-5" v-if="query.get('name')" href='/front/jobseeker/jobseeker_list'>&#xe90f;</a>
    <div class="col-10 pl-3" >
      <input type="autocomplete" placeholder="搜索职位/公司" class='h-h30 lh-30 w-100 bg-fff f-s-8 t-c-eee bor-0' style='padding-left: 10%;'v-model="p.name" @focus='link'>
      <span class='icon t-c-c1' style='position: absolute; top:36%; left:7%;'>&#xe7fd;</span>
    </div>
    <div class="col-1 icon pl-0 mt-2 letter f-s-f22 pr p-t-5"><a href='/front/jobseeker/invitation_receive' class='t-c-7c88 f-s-f20'>&#xe7d5;<a ><span style='position: absolute; display: inline-block; width:6px; height:6px; background: red; border-radius: 50%; top:8px; right:27%;' v-show='msg.length != 0'></span>
    </div>
  </div>
</div>
<!--过滤-->
<div class="container-fluid box t-45  pf z-100 bor-b-sol bor-ea">
  <div class="row row-one h-40 lh-40 bg-fff">
<!--地区-->
    <div class="col-3 f-s-f13 screen p-0 f-s-6" v-show="p.area == ''"><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-f7 t-c-0a0' @click="show(area)">地区<i class='icon p-l-3 m-t-p3'>&#xe7c3;</i></a></div>
    <div class="col-3 f-s-f13 screen p-0 f-s-6 t-c-00bb" v-show="p.area != ''"><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-f7 t-c-0a0' @click="show(area)">{{p.area}}</a></div>

<!--薪资-->
    <div class="col-3 f-s-f13 screen p-0 f-s-6" v-show="p.pay == ''"><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-f7 t-c-0a0' @click="show(pay)">薪资<i class='icon p-l-3 m-t-p3'>&#xe7c3;</i></a></div>

    <div class="col-3 f-s-f13 screen p-0 f-s-6 t-c-00bb" v-show="p.pay != ''"><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-f7 t-c-0a0' @click="show(pay)">{{p.pay}}</a></div>
<!--发布时间-->
    <div class="col-3 f-s-f13 screen p-0 f-s-6" v-if="p.time == ''"><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-f7 t-c-0a0' @click="show(time_1)">发布时间<i class='icon p-l-3 m-t-p3'>&#xe7c3;</i></a></div>

    <div class="col-3 f-s-f13 screen p-0 f-s-6 t-c-00bb"  v-if="p.time != ''"><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 bor-r-sol bor-f7 t-c-0a0' @click="show(time_1)">{{timename}}</a></div>

<!--福利待遇-->
    <div class="col-3 f-s-f13 screen p-0 f-s-6 bor-0" v-show="p.benefit == ''"><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 t-c-0a0' @click="show(benefit)">福利待遇<i class='icon p-l-3 m-t-p3'>&#xe7c3;</i></a></div>
    
    <div class="col-3 f-s-f13 screen p-0 f-s-6 bor-0 t-c-00bb" v-show="p.benefit != ''" v-if='p.benefit.length < 5'><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 t-c-0a0' @click="show(benefit)">{{p.benefit}}</a></div>

    <div class="col-3 f-s-f13 screen p-0 f-s-6 bor-0 t-c-00bb" v-show="p.benefit != ''" v-if='p.benefit.length > 5'><a class='dinb w-100 ta-c h-26 lh-26 m-t-p6 t-c-0a0' @click="show(benefit)">{{p.benefit.substring(0,5)+'...'}}</a></div>
  </div>
</div>

<!--弹层-->
<div class='window container-fluid p-0  w-100  t-14 z-100 dn pf t-85' id='pop' id='pop' style='display: none;'>
  <div class='datail p-10 bg-f5f5 pr oh d-block clear p-b-50 z-10030'>
    <ul class='m-b-0' style='list-style-type: none;'>
      <li class='float-left p-l-f2 p-r-f2 w-25 ta-c m-t-5' v-if='arry == area'>
        <span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8' @click="p.area = ''" :class="{'bg-00b': p.area == '','t-c-fff': p.area == ''}">全部</span>
      </li>
      <li class='float-left p-l-f2 p-r-f2 w-25 ta-c m-t-5' v-if='arry == area' v-for='n in arry'>
        <span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8' @click='p.area = n' :class="{'bg-00b': p.area == n,'t-c-fff': p.area == n}">{{n}}</span>
      </li>
      <li class='float-left p-l-f2 p-r-f2 w-25 ta-c m-t-5' v-if='arry == pay'>
        <span class='bor-sol bor-ccc br-5  p-x-5 dinb p-y-3 w-100 f-s-8' @click="p.pay = ''"  :class="{'bg-00b': p.pay == '','t-c-fff': p.pay == ''}">全部</span>
      </li>
      <li class='float-left p-l-f2  p-r-f2  ta-c m-t-5' v-if='arry == pay' v-for='n in arry'>
        <span class='bor-sol bor-ccc br-5  p-x-5 dinb p-y-3 w-100 f-s-8' @click='p.pay = n' :class="{'bg-00b': p.pay == n,'t-c-fff': p.pay == n}">{{n}}</span>
      </li>
      <li class='float-left p-l-f2 p-r-f2 w-25 ta-c m-t-5' v-if='arry == benefit'>
        <span class='bor-sol bor-ccc br-5  p-x-5 dinb p-y-3 w-100 f-s-8' @click="p.benefit = ''" :class="{'bg-00b': p.benefit == '','t-c-fff': p.benefit == ''}">全部</span>
      </li>
      <li class='float-left p-l-f2 p-r-f2 w-25 ta-c m-t-5' v-if='arry == benefit' v-for='n in arry'>
        <span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8' @click="join(n)" :class="{'bg-00b': n.checked,'t-c-fff': n.checked}">{{n.name}}</span>
      </li>
      <li class='float-left p-l-f2 p-r-f2 w-25 ta-c m-t-5' v-if='arry == time_1' v-for='n in arry'>
        <span class='bor-sol bor-ccc br-5 dinb p-y-3 w-100 f-s-8' @click='p.time = n.value,timename = n.name' :class="{'bg-00b': p.time == n.value,'t-c-fff': p.time == n.value}">{{n.name}}</span>
      </li>
    </ul>
    <button class='w-100 h-36 m-t-p3 f-s-9 t-c-fff bg-00b pa b-0 l-0' @click='search'>确定</button>
  </div>
  <div class='bg-rgba w-100 ' :style="{height:body_h + 'px'}"  @click='none_1' id='pop1'></div>
</div>

<!--热门岗位1-->
<div v-show='list.length != 0' style='margin-top:94px'>
  <ul class="m-t-p3 m-b-80 f-s-8">
    <li class="m-10 m-t-8 p-10 bg-white br-5 pr row" v-for='n in list'>
      <a :href="'/front/jobseeker/jobseeker_detail?id='+n.id" class='w-100 '>
        <p class="w-100 m-b-10">
          <span class="f-s-10 f-s-f16 t-c-32 f-w-600 t-c-3232">{{n.name}}</span>
          <span class='float-right t-c-0a0 f-s-f14 t-c-999' v-if='start < n.issue_time'>今天</span>
          <span class='float-right t-c-0a0 f-s-f14 t-c-999' v-if='start-86400 < n.issue_time && n.issue_time < start'>昨天</span>
          <span class="float-right t-c-0a0 f-s-f14 t-c-999" v-if='start-86400 > n.issue_time'> {{time.dateFormat('MM/dd',n.issue_time)}}</span>
        </p>
        <p class="w-100 m-b-5">
          <span class="t-c-ff4 f-s-f15">{{n.pay}}</span>
        </p>
        <p class="w-100 m-b-5">
          <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 p-r-3">&#xe8e0;</i>{{n.area}}</span>
          <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 m-l-10 p-r-3">&#xe8e3;</i>{{n.education}}</span>
          <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 m-l-10 p-r-3">&#xe8e1;</i>{{n.experience}}</span>
        </p>
        <p class="w-100 m-b-5 f-s-f11">
          <span class="bor p-x-2 m-l-8 br-5 p-l-5 dinb m-t-5 t-c-758 bg-f6" v-for="i in n.benefit.split('|')">{{i}}</span>
        </p>
        <p class="w-100 m-b-5 m-t-15">
          <img src="n.logo" class='br-h h-h32 w-w32'>
          <span class='f-s-f13 t-c-999' v-if='n.cname.length >14'>{{n.cname.substring(1,15)+'...'}}</span>
          <span class='f-s-f13 t-c-999' v-if='n.cname.length <14'>{{n.cname}}</span>
        </p>
      </a>
    </li>
  </ul>
</div>

<!--过滤为空-->
<div class='null m-t-p33' v-show="list.length == 0 && type=='filter'">
  <div class='none text-center'>
    <img src="../../../skins/img/0_3.png" class='h-h140 w-w140'>
    <p class='m-t-6 t-c-999'>没有符合条件的结果</p>
    <p class='t-c-999'>重新筛选试试~</p>
  </div>
</div>
<!--搜索为空-->
<div class='null m-t-p33' v-show="list.length == 0 && type != 'filter'">
  <div class='none text-center'>
    <img src="../../../skins/img/0_3.png"  class='h-h150 w-w150'>
    <p class='m-t-6 t-c-999'>没有符合条件的结果</p>
    <p class='t-c-999'>重新筛选试试~</p>
  </div>
  <div class="company">
    <div class='post container-fluid h-40 w-100 bg-fff m-t-p10 f-s-8 lh-40 bor-b-sol bor-ccc'>
      <span class="icon p-r-r2 t-c-7c88 f-s-f15">&#xe8ef;</span>
      <span class='t-c-666 f-s-8 t-c-7c88'>该公司职位</span>
    </div>
  </div>
  <div>
    <ul class=" m-b-80 f-s-8 p-x-15">
      <li class="m-b-8 p-10 bg-white br-5 pr row" v-for='n in recommend'>
        <a :href="'/front/company/company_detail?id='+n.id" class='w-100 '>
          <p class="w-100 m-b-10">
            <span class="f-s-10 f-s-f16 t-c-32 f-w-600 t-c-3232">{{n.name}}</span>
            <span class='float-right t-c-0a0 f-s-f14 t-c-999' v-if='start < n.issue_time'>今天</span>
            <span class='float-right t-c-0a0 f-s-f14 t-c-999' v-if='start-86400 < n.issue_time && n.issue_time < start'>昨天</span>
            <span class="float-right t-c-0a0 f-s-f14 t-c-999" v-if='start-86400 > n.issue_time'> {{time.dateFormat('yyyy-MM-dd',n.issue_time)}}</span>
          </p>
          <p class="w-100 m-b-5">
            <span class="t-c-ff4 f-s-f15">{{n.pay}}</span>
          </p>
          <p class="w-100 m-b-5">
            <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 p-r-3">&#xe8e0;</i>{{n.area}}</span>
            <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 m-l-10 p-r-3">&#xe8e3;</i>{{n.education}}</span>
            <span class='f-s-f12 t-c-666'><i class="icon f-s-f12 m-l-10 p-r-3">&#xe8e1;</i>{{n.experience}}</span>
          </p>
          <p class="w-100 m-b-5 f-s-f11">
            <span class="bor p-x-2 m-l-3 bor-sol bor-ccc br-5 p-l-5 dinb m-t-5 t-c-758 bg-f6" v-for="i in n.benefit.split('|')">{{i}}</span>
          </p>
          <p class="w-100 m-b-5 m-t-15">
            <img src="n.logo" class='br-h h-h32 w-w32'>
            <span class='f-s-f13 t-c-999' v-if='n.cname.length >14'>{{n.cname.substring(1,15)+'...'}}</span>
            <span class='f-s-f13 t-c-999' v-if='n.cname.length <14'>{{n.cname}}</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--切换身份弹框-->
<div id="dialog1" style="display: none;">
  <div class="weui-mask z-1030" @click='notshow1'></div>
  <div class="weui-dialog f-s-8 br-5">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title icon f-s-f40 t-c-f970">&#xe85e;</strong></div>
    <div class="weui-dialog__bd">您确定要切换到招人身份吗？</div>
    <div class="weui-dialog__ft">
      <a class="weui-dialog__btn weui-dialog__btn_default" id='cancel' @click='notshow1'>取消</a>
      <a class="weui-dialog__btn weui-dialog__btn_primary t-c-0bb20c" @click='sure'>确认</a>
    </div>
  </div>
</div>
<%- fjob%>

<script> 
  new Vue({
    el:'#app',
    data:{
      list:[],
      recommend:[],
      area:[],
      pay:[],
      time_1:[{value:'',name:'全部'},{value:1,name:'今天'},{value:3,name:'三天以内'},{value:7,name:'七天以内'},{value:15,name:'半个月内'},{value:30,name:'一个月内'}],
      benefit:[],
      arry:[],
      p:{
        name:'',
        area:'',
        pay:'',
        time:'',
        benefit:'',
      },
      timename:'',
      type:'',
      msg:[],
      body_h:null,
      start:new Date().setHours(0,0,0,0)/1000,
      status:[],
      datail:[],
      beneAry:[],
      keyword:'recruit',
    },
    mounted(){
      this.p.name = this.query.get('name')
      this.body_h = document.body.scrollHeight
      this.ajax.get('/job/all/list?name=' + this.p.name,(res)=>{
      this.list = res.data
      },(err)=>{
      }),
      this.ajax.get('/search/recommend?name=' + this.p.name,(res)=>{
        this.recommend = res.data
      },(err)=>{
      }),
      this.ajax.get('/area/list',(res)=>{
        this.area = res.data
      },(err)=>{
      })
      this.ajax.get('/pay/list',(res)=>{
        this.pay = res.data
      },(err)=>{
      })
      this.ajax.get('/user/receive/notread',(res)=>{
        this.msg = res.data
      },(err)=>{
      })
      this.ajax.get('/benefit/list',(res)=>{
        this.benefit = res.data
      },(err)=>{
      })
    },
    methods: {
      show(ary){
        this.arry = ary
        let pop = document.getElementById('pop')
        pop.style.display = 'block'
      },
      search(){
        if(!this.p.name){
          this.type = 'filter'
        }
        this.ajax.get('/job/all/list?area=' + this.p.area + '&pay=' + this.p.pay + '&time=' + this.p.time + '&name=' + this.p.name + '&benefit=' + this.p.benefit,(res)=>{
          this.list = res.data
          pop.style.display = 'none'
        },(err)=>{
        })
      },
      link(){
        window.location.href = '/front/jobseeker/search'
      },
      none_1(){
        let pop = document.getElementById('pop')
        pop.style.display = 'none'
      },
      join(bene){
        bene.checked = !bene.checked
        if(bene.checked){
          this.beneAry.push(bene.name)
        }else{
          for(let i=0;i<this.beneAry.length;i++){
            if(this.beneAry[i] == bene.name){
              this.beneAry.splice(i,1)
              break
            }
          }
        }
        this.p.benefit = this.beneAry.join('|')
        console.log(this.p.benefit)
      },
      switch_1(){
        let dialog1 = document.getElementById('dialog1')
        dialog1.style.display = 'block'
      },
      notshow1(){
        let dialog1 = document.getElementById('dialog1')
        dialog1.style.display = 'none'
      },
      sure(){
        setTimeout(window.location.href='/front/login/identity',1500)
      },
    }
  })
</script>
