<!--顶部导航栏-->
<div class="container-fluid fixed-top bor-b-sol bor-eee align-middle">
  <div class="row h-45 lh-45 bg-white">
    <div class="col-2 ">
      <a href="javascript:history.go(-1)" class='t-c-0a0'>
        <i class="icon text-center f-s-15">&#xe86c;</i>
      </a>
    </div>
    <div class="col-8 text-center">
      <span>课程详情</span>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<!--空页-->
<div class="w-100 m-t-p30 text-center" style="display: none;" >
  <img src="http://img1.imgtn.bdimg.com/it/u=2200875053,59610386&fm=27&gp=0.jpg" alt="" class="w-70">
</div>
<!--报名列表-->
<div class="box m-t-55">
  <ul class="f-s-8 m-b-80">
    <li class="m-t-10 p-10 bg-white br-5" v-for='n in list'>
      <p class="p-b-p5 m-b-0">
        <span class="f-w-b f-s-10">{{n.culname}}</span>
        <i class="icon"></i>
      </p>
      <p class="p-b-p5 m-b-0">
        <span>您于{{time.dateFormat( 'yyyy-MM-dd', n.apply_time)}}报名的{{n.culname}}待审核</span>
      </p>
      <p class="text-right m-b-0">
        <button type="button" class="btn btn-sm btn-secondary" @click='cancel(n.id)'>取消报名</button>
        <a name="" id="" class="btn btn-sm btn-primary" @click='phone(n.mobile)' role="button">联系客服</a>
      </p>
    </li>
  </ul>
</div>
<%- fjob%>
<script> 
new Vue({
  el: '#app',
  data: {
    list:[],
    keyword:'my'
  },
  mounted () {
    this.ajax.get('/cultivate/list', (res) => {
      this.list = res.data
    }, (err) => {
      console.log(err)
    })
  },
  methods: {
    cancel(id){
      this.ajax.put('/cancel/cultivate/record',{id:id},(res) => {
        weui.toast('取消成功', 500);
        setTimeout("window.location.reload()",1500)
      }, (err) => {
        console.log(err)
      })
    },
    phone(date){
      window.location.href = 'tel:' + date;
    },
  }
})
</script>
 