<%- tname %>
<div class="container-fluid m-t-46 bg-white">
  <div class="row p-x-p5 h-150" style = 'background-image:url("../../../skins/img/header.jpg")'>
    <div class="col-12 text-center p-t-p9" >
      <img class=" w-30 br-h" :src="data.head" v-if='data.head'>
      <i class="icon f-s-40 bg-white br-h p-3" @click='openfile' v-else >&#xe81e;</i>
      <input type="file" class="dn" id = 'head' multiple='xiongan' accept='image/*'>
    </div>
  </div>
    
  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <div class="col-12 t-c-00b f-s-f17 p-x-0">个人基本信息</div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <label class="col-3 bor-r-sol bor-f6 m-b-0 p-x-0">姓名</label>
    <div class="col-8 text-right">
      <input type="text" class="form-control-plaintext border-0 w-100 text-right p-y-0 in-out" placeholder="请输入姓名" v-model='data.name'>
    </div>
    <div class="col-1 align-self-center text-center p-x-0">
      <span class="t-c-e20">*</span>  
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <label for="" class="col-3 bor-r-sol bor-f6 m-b-0 p-x-0">性别</label>
    <div class="col-8 p-x-0 text-right">
      <div class="form-check form-check-inline m-b-0">
        <label class="form-check-label custom-radio">
          <input class="custom-control-input" type="radio" name="isopen" value="0" v-model='data.sex' >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description align-self-center">男</span>
        </label>
      </div>
      <div class="form-check form-check-inline m-b-0">
        <label class="form-check-label custom-radio">
          <input class="custom-control-input" type="radio" name="isopen" value="0" v-model='data.sex' >
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description align-self-center">女</span>
        </label>
      </div>
    </div>
    <div class="col-1 align-self-center text-center p-x-0">
      <span class="t-c-e20">*</span>  
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <label class="col-3 bor-r-sol bor-f6 m-b-0 p-x-0">出生年月</label>
    <div class="col-8 text-right p-x-0">
      <!--<i class="icon pa t-25 t-c-bf r-4">&#xe62e;</i>-->
      <input type="date" class="p-x-0 text-center bg-ef br-3 h-24 w-70 t-c-666 f-s-f14 p-l-2" v-model='data.birthday' placeholder="请选择出生年月">
    </div>
    <div class="col-1 align-self-center text-center p-x-0">
      <span class="t-c-e20">*</span>  
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <label for="" class="col-3 bor-r-sol bor-f6 m-b-0 p-x-0">最高学历</label>
    <div class="col-8 p-x-0 align-self-center text-right pr">
      <i class="icon pa t-25 t-c-bf r-4">&#xe62e;</i>
      <select v-model='data.education' class="bg-ef br-3 h-24 w-70 t-c-666 f-s-f14 p-l-2">
        <option value=''>请选择学历</option>
        <option v-for ="v in education" :value="v">{{v}}</option>
      </select>
    </div>
    <div class="col-1 align-self-center text-center p-x-0">
      <span class="t-c-e20">*</span>  
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <label class="col-3 bor-r-sol bor-f6 m-b-0 p-x-0">工作经验</label>
    <div class="col-8 p-x-0 align-self-center text-right pr">
      <i class="icon pa t-25 t-c-bf r-4">&#xe62e;</i>
      <select v-model='data.experience' class="bg-ef br-3 h-24 w-70 t-c-666 f-s-f14 p-l-2">
        <option value=''>请选择工作经验</option>
        <option v-for ="v in kind" :value="v">{{v}}</option>
      </select>
    </div>
    <div class="col-1 align-self-center text-center p-x-0">
      <span class="t-c-e20">*</span>  
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <label for="" class="col-3 bor-r-sol bor-f6 m-b-0 p-x-0">现居住地</label>
    <div class="col-8 p-x-0 align-self-center text-right pr">
      <i class="icon pa t-25 t-c-bf r-4">&#xe62e;</i> 
      <select  v-model='data.area' class="bg-ef br-3 h-24 w-70 t-c-666 f-s-f14 p-l-2">
        <option value=''>请选择现居住地</option>
        <option v-for ="v in area" :value="v.name">{{v.name}}</option>
      </select>
    </div>
    <div class="col-1 align-self-center text-center p-x-0 ">
      <span class="t-c-e20">*</span>  
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <label for="" class="col-3 bor-r-sol bor-f6 m-b-0 p-x-0">手机号码</label>
    <div class="col-8 text-right">
      <input type="text"  v-model='data.mobile' class="form-control-plaintext border-0 w-100 text-right p-y-0 in-out" placeholder="请输入手机号码">
    </div>
    <div class="col-1 align-self-center text-center p-x-0">
      <span class="t-c-e20">*</span>  
    </div>
  </div>

  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 m-x-0">
    <label for="" class="col-3 bor-r-sol bor-f6 m-b-0 p-x-0">邮箱</label>
    <div class="col-8 text-right">
      <input type="text" v-model='data.email' class="form-control-plaintext border-0 w-100 text-right p-y-0 in-out" placeholder="请输入邮箱">
    </div>
    <div class="col-1 align-self-center text-center p-x-0">
      <span class="t-c-e20">*</span>  
    </div>
  </div>
</div>

<div class="text-center">
  <button @click='add' class="btn bg-00b t-c-white m-t-10 m-b-20 p-x-30">下一步</button>
</div>

<!--失败弹层-->
<div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail'>
  <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
  <p class="weui-toast__content">请将信息填写完整！</p > 
</div>

<script>
new Vue({
  el: '#app',
  data: {
    data: {
      education:'',
      experience:'',
      area:''
    },
    experience:[],
    education:[],
    area:[],
    kind:[],
    name:'我的简历'
  },
  mounted () {
    this.ajax.get('/experience/list', (res) => {
      this.experience = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/education/list', (res) => {
      this.education = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/area/list', (res) => {
      this.area = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/experience/list', (res) => {
      this.kind = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    add(){
      if(this.data.name == '' || this.data.sex == '' || this.data.birthday == '' || this.data.education =='' || this.data.experience == '' || this.data.area == '' || !this.data.mobile || !this.data.email){
        document.getElementById('fail').style.display = 'block'
        setTimeout("document.getElementById('fail').style.display='none'",1500)
        return
      }
      this.data.head = head.value
      this.data.birthday = (parseInt(new Date(this.data.birthday).getTime().toString().substr(0,10)))
      // this.data.birthday=parseInt(Date.parse(new Date(this.data.birthday).toString().slice(0,10)))
      console.log(this.data.birthday)
      this.ajax.post('/add/resume', this.data,(res) => {
      weui.toast('添加成功', 2000);
      setTimeout(function () { window.location.href='/front/jobseeker/job'}, 2000)
      }, (res) => {
        console.log(res.errmsg)
      })
    },
    openfile () {
     $(head).click()
		},
    // async upload(){
    //   // 第一个为id 第二个为config定义的规则
    //   let res = await this.uploadimg.working('head','head')
    //   this.data.head = res.data[0].path
    // },
  }
})
</script>
