<%- tname %>
<div class="container-fluid f-s-8 m-t-46 bg-white t-c-666 f-s-f14 none m-b-80">
   <div class="row p-x-p5 m-x-0 h-150" style = 'background-image:url("../../../skins/img/header.jpg")'>
      <div class="col-12 text-center p-t-p9" >
        <div class="w100 h100 br-h bg-white ma">
          <img class="w100 h100 br-h" src="../../../skins/img/1.jpg" v-if='data.head'>
          <i class="icon f-s-26 p-t-25" @click='openfile' v-else >&#xe81e;</i>
          <input type="file" class="dn" id = 'head' @change='upload'>
        </div>
      </div>
    </div>

    <div class="row f-s-f17 pt-2 pb-2 m-x-0">
      <div class="col-10 t-c-00b f-s-9">个人基本信息</div>
      <div class="col-2 text-right">
        <a href="/front/jobseeker/edit_resume">
          <i class="icon t-c-00b">&#xe901;</i>
        </a>
      </div>
    </div>

    <div class="row bor-t-sol bor-eae p-y-p1 m-x-12">
      <div class="col-12 none p-y-p1">
        <span class='f-s-f16 t-c-333 p-r-r3'>{{data.name}}</span>
        <span class='p-x-5'>{{sex[data.sex]}}</span>
        <span>{{data.age}}</span>
      </div>
      <div class="col-12 p-y-p1 none">
        <i class="icon f-s-10">&#xe8fa;</i>
        <span>{{data.mobile}}</span>
      </div>
      <div class="col-12 p-y-p1 none">
        <i class="icon f-s-10">&#xe905;</i>
        <span>{{data.email}}</span>
      </div>
      <div class="col-12 p-y-p1 none">
        <span>{{data.experience}}</span>
      </div>
      <div class="col-12 p-y-p1 none">
        <span>{{data.area}}</span>
      </div>
    </div>
    <div class="row f-s-f17 pt-2 pb-2 m-x-0 bor-t-sol bor-c4">
      <div class="col-10 t-c-00b f-s-9">求职意向</div>
      <div class="col-2 text-right">
        <a href="/front/jobseeker/edit_job?type=edit">
          <i class="icon t-c-00b">&#xe901;</i>
        </a>
      </div>
    </div>
    <div class="row bor-t-sol bor-eae p-y-p1 m-x-12">
      <div class="col-12 p-y-p1 none">
        <span>{{data.jtname}}</span>
      </div>
      <div class="col-12 p-y-p1 none">
        <span>{{data.want_area}}</span>
      </div>
      <div class="col-12 p-y-p1 none">
        <span>{{data.pay}}</span>
      </div>
    </div>
    <div class="row f-s-f17 pt-2 pb-2 m-x-0 bor-t-sol bor-c4">
      <div class="col-10 t-c-00b f-s-9">个人评价</div>
      <div class="col-2 text-right">
        <a href="/front/jobseeker/edit_assess">
          <i class="icon t-c-00b">&#xe901;</i>
        </a>
      </div>
    </div>

    <div class="row bor-t-sol bor-eae p-y-p2 m-x-12 none">
      <span>{{data.evaluate}}</span>
    </div>

    <div class="row f-s-f17 pt-2 pb-2 m-x-0 bor-t-sol bor-c4">
    <div class="col-10 t-c-00b f-s-9">教育经历</div>
    <div class="col-2 text-right">
      <a href="/front/jobseeker/teach">
        <i class="icon t-c-00b">&#xe7ba;</i>
      </a>
    </div>
  </div>

   <div class="row bor-t-sol bor-eae p-y-p1 m-x-12 none" v-for='v in education'>
    <div class="col-9 none">
      <span>{{time.dateFormat('yyyy/MM/dd',v.start)}}-{{time.dateFormat('yyyy/MM/dd',v.end)}}</span>
    </div>
    <div class="col-3 text-right none">
      <a :href='"/front/jobseeker/edit_education?id="+v.id'>
        <i class="icon t-c-00b">&#xe803;</i>
      </a>
      <i class="icon t-c-00b p-l-5" @click='del1(v)'>&#xe7f9;</i>
    </div>
    <div class="col-12 none">{{v.school}}</div>
    <div class="col-12 none">{{v.speciality}}</div>
  </div>

  <div class="row f-s-f17 pt-2 pb-2 m-x-0 bor-t-sol bor-c4">
    <div class="col-10 t-c-00b f-s-9">工作经历</div>
    <div class="col-2 text-right">
      <a href="/front/jobseeker/work">
        <i class="icon t-c-00b f-s-10">&#xe7ba;</i>
      </a>
    </div>
  </div>

  <div class="row bor-t-sol bor-eae p-y-p1 m-x-12 none" v-for='v in experience'>
    <div class="col-9 none">
      <span>{{time.dateFormat('yyyy/MM/dd',v.start)}}-{{time.dateFormat('yyyy/MM/dd',v.end)}}</span>
    </div>
    <div class="col-3 text-right none">
      <a :href='"/front/jobseeker/edit_experience?id="+v.id'>
        <i class="icon t-c-00b">&#xe803;</i>
      </a>
      <i class="icon t-c-00b p-l-5" @click='del1(v)'>&#xe7f9;</i>
    </div>
    <div class="col-12 none">{{v.company}}</div>
    <div class="col-12 none">{{v.job}}</div>
  </div>
</div>
<!--删除工作经历弹框-->
<div id="dialog2" style="display: none;">
  <div class="weui-mask z-1030"></div>
  <div class="weui-dialog f-s-8 br-5">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title icon f-s-f40 t-c-f970">&#xe85e;</strong></div>
    <div class="weui-dialog__bd" v-if="type == 'exp'">您确定要删除此工作经历吗?</div>
    <div class="weui-dialog__bd" v-if="type == 'edu'">您确定要删除此教育经历吗?</div>
    <div class="weui-dialog__ft">
      <a class="weui-dialog__btn weui-dialog__btn_default" id='cancel' @click='can1'>取消</a>
      <a class="weui-dialog__btn weui-dialog__btn_primary t-c-0bb20c" @click='delexp' v-if="type == 'exp'">确认</a>
      <a class="weui-dialog__btn weui-dialog__btn_primary t-c-0bb20c" @click='deledu'  v-if="type == 'edu'">确认</a>
    </div>
  </div>
</div>
<%- fjob%>
<script>
new Vue({
  el: '#app',
  data: {
    data: {},
    experience:[],
    education:[],
    sex:['男','女'],
    name:'我的简历',
    keyword:'my',
    delid:'',
    type:''
  },
  mounted () {
    this.ajax.get('/user/resume/experience/'+this.query.get('id'), (res) => {
      this.experience = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/user/resume/education/' + this.query.get('id'), (res) => {
      this.education = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/user/resume', (res) => {
      this.data = res.data[0]
      let date = new Date()
      this.data.age = date.getFullYear()-this.time.dateFormat('yyyy',this.data.birthday)
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    delexp(){
     this.ajax.delete('/experience/delete/'+this.delid,(res) => {
        weui.toast('删除成功', 1500);
       setTimeout('window.location.reload()', 1500)
      
      }, (res) => {
        weui.toast(err.errmsg)
      })
    },
    deledu(){
     this.ajax.delete('/education/delete/'+this.delid,(res) => {
      weui.toast('删除成功',1500)
      setTimeout('window.location.reload()', 1500)
      }, (res) => {
        weui.toast(err.errmsg)
      })
    },
    openfile () {
     $(head).click()
		},
    upload(){
      this.data.head = head.value
    },
    // del(){
    //   let dialog1 = document.getElementById('dialog1')
    //   dialog1.style.display = 'block'
    // },
    can(){
      let dialog1 = document.getElementById('dialog1')
      dialog1.style.display = 'none'
    },

    del1(v){
      this.delid = v.id
      if(v.school){
        this.type = 'edu'
      }else{
        this.type = 'exp'
      }
      let dialog1 = document.getElementById('dialog2')
      dialog1.style.display = 'block'
    },
    can1(){
      let dialog1 = document.getElementById('dialog2')
      dialog1.style.display = 'none'
    },
  }
})
</script>