<style>
  body{ background-color: #fff!important; }
  .bg-light{ background-color: #fff!important; height: 50px; line-height: 50px; border-bottom: 1px solid #f1f1f1; }
</style>
<div class="container-fluid f-s-8">
  <div class="row bg-light justify-content-left fixed-top">
    <div class="col-2 text-center"><a href="javascript:history.go(-1)" class="icon t-c-999">&#xe7c5;</a></div>
    <div class="col-8 text-center">简历详情</div>
  </div>
  <div class="row m-t-50">
      <div class="col-12 text-center">
        <input type="file">
        <span class="text-center db" >{{data.name}}</span>
      </div>
    </div>

    <div class="row mt-1 item pt-2 pb-2 bor-t-sol bor-f1">
      <div class="col-10 f-w-b">个人资料</div>
      <div class="col-2 text-right">
        <a href="/front/jobseeker/edit_resume?type=edit">
          <i class="icon">&#xe7fc;</i>
        </a>
      </div>
    </div>

    <div class="row bor-t-sol bor-f1">
      <div class="col-12 p-y-p1">
        <span>{{data.name}}</span>
        <span>{{sex[data.sex]}}</span>
        <span>{{data.age}}</span>
      </div>
      <div class="w-100"></div>
      <div class="col-12 p-y-p1">
        <i class="icon">&#xe795;</i>
        <span>{{data.mobile}}</span>
      </div>
      <div class="w-100"></div>
      <div class="col-12 p-y-p1">
        <span>{{data.experience}}</span>
      </div>
      <div class="w-100"></div>
      <div class="col-12 p-y-p1">
        <span>{{data.area}}</span>
      </div>
    </div>
    <div class="row mt-1 item pt-2 pb-2 bor-t-sol bor-f1">
      <div class="col-10 f-w-b">求职意向</div>
      <div class="col-2 text-right">
        <a href="/front/jobseeker/edit_job?type=edit">
          <i class="icon">&#xe7fc;</i>
        </a>
      </div>
    </div>
    <div class="row bor-t-sol bor-f1">
      <div class="col-12 p-y-p1">
        <span>{{data.jtname}}</span>
      </div>
      <div class="col-12 p-y-p1">
        <span>{{data.want_area}}</span>
      </div>
      <div class="col-12 p-y-p1">
        <span>{{data.pay}}</span>
      </div>
    </div>
    <div class="row mt-1 item pt-2 pb-2 bor-t-sol bor-f1">
      <div class="col-10 f-w-b">个人评价</div>
      <div class="col-2 text-right">
        <a href="/front/jobseeker/edit_assess">
          <i class="icon">&#xe7fc;</i>
        </a>
      </div>
    </div>

    <div class="row border_b">
      <div class="col-12">
        <span>{{data.evaluate}}</span>
      </div>
    </div>

    <div class="row mt-1 item pt-2 pb-2 bor-t-sol bor-f1">
    <div class="col-10 f-w-b">教育经历</div>
    <div class="col-2 text-right">
      <a href="/front/jobseeker/teach">
        <i class="icon">&#xe7ba;</i>
      </a>
    </div>
  </div>

   <div class="row pt-2 pb-2" style=" border-top: 1px solid #f1f1f1;" v-for='v in education'>
    <div class="col-8">
      <span>{{time.dateFormat('yyyy/MM/dd',v.start)}}-{{time.dateFormat('yyyy/MM/dd',v.end)}}</span>
    </div>
    <div class="col-2 text-right none">
      <a :href='"/front/jobseeker/edit_education?id="+v.id'>
        <i class="icon">&#xe803;</i>
      </a>
    </div>
    <div class="col-2 text-left">
      <i class="icon" @click='deledu(v.id)'>&#xe7f9;</i>
    </div>
    <div class="w-100"></div>
    <div class="col-12">{{v.school}}</div>
    <div class="col-12">{{v.speciality}}</div>
  </div>

  <div class="row mt-1 item pt-2 pb-2 bor-t-sol bor-f1">
    <div class="col-10 f-w-b">工作经历</div>
    <div class="col-2 text-right">
      <a href="/front/jobseeker/work">
        <i class="icon">&#xe7ba;</i>
      </a>
    </div>
  </div>

  <div class="row pt-2 pb-2" style=" border-top: 1px solid #f1f1f1;border-bottom: 1px solid #f1f1f1;" v-for='v in experience'>
    <div class="col-8">
      <span>{{time.dateFormat('yyyy/MM/dd',v.start)}}-{{time.dateFormat('yyyy/MM/dd',v.end)}}</span>
    </div>
    <div class="col-2 text-right none">
      <a :href='"/front/jobseeker/edit_experience?id="+v.id'>
        <i class="icon">&#xe803;</i>
      </a>
    </div>
    <div class="col-2 text-left">
      <i class="icon" @click='delexp(v.id)'>&#xe7f9;</i>
    </div>
    <div class="w-100"></div>
    <div class="col-12">{{v.company}}</div>
    <div class="col-12">{{v.job}}</div>
  </div>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data: {},
    experience:[],
    education:[],
    sex:['男','女']
  },
  mounted () {
    this.ajax.get('/user/resume/experience/'+this.query.get('id'), (res) => {
      this.experience = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/user/resume/education/' + this.query.get('id'), (res) => {
      this.education = res.data
    }, (res) => {
      console.log(res.errmsg)
    })
    this.ajax.get('/user/resume', (res) => {
      this.data = res.data[0]
      console.log(this.data)
    }, (res) => {
      console.log(res.errmsg)
    })
  },
  methods: {
    delexp(id){
     this.ajax.delete('/experience/delete/'+id,(res) => {
        weui.toast('收藏成功', 2000);
       setTimeout('window.location.reload()', 1000)
      
      }, (res) => {
        console.log(res.errmsg)
      })
    },
    deledu(id){
     this.ajax.delete('/education/delete/'+id,(res) => {
      console.log('删除成功')
      window.location.reload()
      }, (res) => {
        console.log(res.errmsg)
      })
    }
  }
})
</script>