<!--顶部导航栏-->
<%- tname%>
<!--轮播图-->
<div id="carouselId" class="carousel slide m-t-46 h-150" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselId" data-slide-to="0" class="active"></li>
    <li data-target="#carouselId" data-slide-to="1"></li>
    <li data-target="#carouselId" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox" style="height:150px">
    <div class="carousel-item active" v-for='n in swiper'>
      <img :src="n.url" alt="First slide" class='w-100'>
    </div>
  </div>
</div>
<!--课程简介-->
<div class="w-100 bg-white m-t-5 py-0 p-x-15 f-s-8">
  <p class="p-b-5 px-0 bg-white t-c-009 mb-0 bor-b-sol bor-e0e p-t-10">
    <i class="icon f-s-15 va-m t-c-00baf3">&#xe829;</i>
    <span class="f-s-9 t-c-000 va-m f-s-f15 p-l-5">课程简介</span>
  </p>
  <p class="p-t-8 p-b-10 px-0 mb-0 t-c-666">{{detail.summary}}</p>
</div>
<!--课程的优势-->
<div class="bg-white m-t-5 py-0 p-x-15 f-s-8" :class="{'m-b-80': detail.time == 0}">
  <p class="p-b-5 px-0 bg-white t-c-009 mb-0 bor-b-sol bor-e0e p-t-10">
    <i class="icon f-s-15 va-m t-c-00baf3">&#xe829;</i>
    <span class="f-s-9 t-c-000 va-m f-s-f15 p-l-5">课程优势</span>
  </p>
  <p class="p-t-8 p-b-10 px-0 mb-0 t-c-666">{{detail.merit}}</p>
</div>
<!--开课时间-->
<div class="bg-white m-t-5 py-0 p-x-15 f-s-8 m-b-80" v-show="detail.class_starttime != 0">
  <p class="p-b-5 px-0 bg-white t-c-009 mb-0 bor-b-sol bor-e0e p-t-10">
    <i class="icon f-s-15 va-m t-c-00baf3">&#xe829;</i>
    <span class="f-s-9 t-c-000 va-m f-s-f15 p-l-5">课程时间</span>
  </p>
  <p class="p-t-8 p-b-5 px-0 mb-0 t-c-666">
    <span>课程名称：</span>
    <span>{{detail.name}}</span>
  </p>
  <p class="p-b-10 px-0 mb-0 t-c-666">
    <span>开课时间：</span>
    <span>{{time.dateFormat('yyyy/MM/dd', detail.time)}}</span>
  </p>
</div>
<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block fixed-bottom p-y-3 bg-00baf3" @click='signUp(detail.id,detail.name)'>报名</button>
<script>
new Vue({
  el: '#app',
  data: {
    id:'',
    cultivate:[],
    name: '瑞安详情',
    swiper:[],
    detail:[]
  },
  mounted () {
    this.id = this.query.get('id')
    this.ajax.get('/cultivate/detail/' + this.id,(res) => {
        this.cultivate = res.data
        this.swiper = this.cultivate[1]
        this.detail = this.cultivate[0][0]
        console.log(this.cultivate)
      }, (err) => {
        console.log(err)
      })
  },
  methods: {
    signUp(id,name){
      this.ajax.post('/add/cultivate/record',{culid:id,culname:name},(res) => {
        weui.toast('报名成功', 1000);
      }, (err) => {
        console.log(err)
      })
    }
  }
})
</script>