<%- tname %>
<div class="container-fluid m-t-46 bg-white">
  <div class="f-s-9 pt-2 pb-2 w-100">
    <span class='bor-r-sol bor-eae w-25 dinb'>学校名称</span>
    <input type="text" class="border-0 w-70 text-right" placeholder="请输入学校名称" v-model='p.school'>
  </div>
  <div class="row f-s-9  bor-b-sol bor-t-sol bor-eae pt-2 pb-2 p-x-14">
    <div class="col-3 bor-r-sol bor-eae p-x-0">学历/学位</div>
    <div class="col-9 text-right pr p-x-0">
      <i class="icon pa t-25 t-c-bf r-4">&#xe62e;</i>
      <select  v-model='p.education' class="bg-ef br-3 h-24 w-50 t-c-666 f-s-f14 p-l-2">
        <option :value="v" v-for='v in education'> {{v}} </option>
      </select>
    </div>
  </div>
  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 p-x-14">
    <div class="col-3 bor-r-sol bor-eae p-x-0">开始时间</div>
    <div class="col-9 text-right p-x-0">
      <input type="date" v-model='p.start' class="text-right bg-ef br-3 h-24 w-50 t-c-666 f-s-f14 p-l-2" placeholder="请选择开始时间">
    </div>
  </div>
  <div class="row f-s-9  bor-b-sol bor-eae pt-2 pb-2 p-x-14">
    <div class="col-3 bor-r-sol bor-eae p-x-0">结束时间</div>
    <div class="col-9 text-right p-x-0">
      <input type="date" v-model='p.end' class="text-right bg-ef br-3 h-24 w-50 t-c-666 f-s-f14 p-l-2" placeholder="请选择结束时间">
    </div>
  </div>
  <div class="f-s-9  bor-b-sol bor-eae pt-2 pb-2 w-100">
    <span class='bor-r-sol bor-eae w-25 dinb'>专业</span>
    <input type="text" class="border-0 w-70 text-right" placeholder="请输入专业名称" v-model='p.speciality'>
  </div>
</div>
<div class="text-center">
  <button @click='next' class="btn bg-00b t-c-white m-t-10 p-x-30">确定</button>
</div>
<!--失败弹层-->
<div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail'>
  <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
  <p class="weui-toast__content">请将信息填写完整！</p > 
</div>
<script>
new Vue({
  el: '#app',
  data: {
    p:{},
    education:[],
    name:'添加教育经历'
  },
  mounted () {
    this.ajax.get('/education/list',(res) => {
      this.education = res.data
      }, (res) => {
        console.log(res.errmsg)
    })
  },
  methods: {
    next(){
      if(this.p.school == '' || this.p.education == '' || this.p.education == '' || !this.p.start || !this.p.end || this.p.speciality == ''){
        document.getElementById('fail').style.display = 'block'
        setTimeout("document.getElementById('fail').style.display='none'",1500)
        return
      }
      this.p.start=(parseInt(new Date(this.p.start).getTime().toString().substr(0, 10)))
      this.p.end=(parseInt(new Date(this.p.end).getTime().toString().substr(0, 10)))
      this.ajax.post('/add/education', this.p,(res) => {
      weui.toast('提交成功', 2000);
      if(this.query.get('type')){
        setTimeout(function () { window.location.href='/front/jobseeker/assess_ok'}, 2000)
      }else{
         setTimeout(function () { window.location.href='/front/jobseeker/resume_detail'}, 2000)
      }
        }, (res) => {
          console.log(res.errmsg)
        })
    }
  }
})
</script>