<%- tname%>
<div>
  <img src="../../../skins/img/seehome.jpg" class='w-100 h-150 m-t-45'>
  <div class='w75 h75 br-h bg-white pa' style='top:14%; left:39%;'>
    <img :src="list.head" alt="" class='w-100 h-100 br-h'>
  </div>
</div>
<div class="container-fluid bg-white m-b-80 f-s-9 m-t-5">
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe900;</i>
    </div>
    <div class="col-10 p-x-0 f-s-f15"><a href="/front/jobseeker/resume_detail" class='db w-100 t-c-2b2 va-m m-l-10'>我的简历</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/jobseeker/resume_detail"><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe8fb;</i>
    </div>
    <div class="col-10 p-x-0 f-s-f15"><a href="/front/jobseeker/mailing" class='db w-100 t-c-2b2 va-m m-l-10'>我的投递</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/jobseeker/mailing"><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe8fe;</i>
    </div>
    <div class="col-10 p-x-0 f-s-f15"><a href="/front/jobseeker/invitation_receive" class='db w-100 t-c-2b2 va-m m-l-10'>面试邀请</a></div>
    <span class = 'in-block absolute h-7 w-7 bg-044 br-h pa l-105' v-for='n in status' v-show='n.status = 1'> </span>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/jobseeker/invitation_receive"><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe8fd;</i>
    </div>
    <div class="col-10 p-x-0 f-s-f15"><a href="/front/jobseeker/collect" class='db w-100 t-c-2b2 va-m m-l-10'>岗位收藏</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/jobseeker/collect"><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe8ea;</i>
    </div>
    <div class="col-10 p-x-0 f-s-f15"><a href="/front/jobseeker/my_cultivate" class='db w-100 t-c-2b2 va-m m-l-10'>我的报名培训</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/jobseeker/my_cultivate"><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 ">
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe8fa;</i>
    </div>
    <div class="col-10 p-x-0 f-s-f15"><a href="/front/jobseeker/link" class='db w-100 t-c-2b2 va-m m-l-10'>联系我们</a></div>
    <div class="col-1 text-center align-self-center p-x-0"><a href="/front/jobseeker/link"><i class="icon">&#xe630;</i></a></div>
  </div>
  <div class="row bor-t-sol bor-f1 p-y-p4 " @click='switch_1'>
    <div class="col-1 text-center align-self-center p-x-0">
      <i class="icon f-s-f20 t-c-999 va-m px-2">&#xe90b;</i>
    </div>
    <div class="col-10 p-x-0 f-s-f15 p-l-10">切换身份</div>
    <div class="col-1 text-center align-self-center p-x-0"><a ><i class="icon">&#xe630;</i></a></div>
  </div> 
</div>
<%- fjob%>
<script>
  new Vue({
    el:'#app',
    data:{
      list:[],
      show:true,
      datail:[],
      status:[],
      name:'个人中心'
    },
    mounted(){
      this.ajax.get('/user/detail',(res)=>{
        this.list = res.data
        console.log(this.list)
      },(err)=>{
      })
      this.ajax.get('/user/invite/record',(res)=>{
        this.datail = res.data
        for(var i=0;i<this.datail.length;i++){
          this.status.push(this.datail[i].status)
        }
        console.log(this.status)
      },(err)=>{
      })
    },
    methods: {
      switch_1(){
        weui.confirm('', {
            title: '确认要切换身份吗?',
            buttons: [{
                label: '取消',
                type: 'default',
                onClick: function(){ console.log('no') }
            }, {
                label: '确定',
                type: 'primary',
                onClick: function(){ window.location.href='/front/login/identity' }
            }]
        });
      },
      go(){
        window.history.go(-1);
      }
    }
  })
</script>