<style>
  .bg-light{ background-color: #fff!important; height: 50px; line-height: 50px; border-bottom: 1px solid #f1f1f1; }
</style>
<div class="container-fluid">
  <div class="row bg-light justify-content-left fixed-top">
    <div class="col-2 text-center"><a href="javascript:history.go(-1)" class="icon t-c-999">&#xe7c5;</a></div>
    <div class="col-8 text-center">工作经历</div>
  </div>

  <div class="m-t-50 bg-white">
    <div class="row bg-white f-s-9 pt-2 pb-2 bor-b-sol bor-f1">
      <div class="col-4">公司名称</div>
      <div class="col-8 text-right">
        <input type="text" class="border-0 text-right" placeholder="请输入公司名称" v-model='data.company'>
      </div>
    </div>

    <div class="row bg-white f-s-9 pt-2 pb-2 bor-b-sol bor-f1">
      <div class="col-4">职位名称</div>
      <div class="col-8 text-right">
        <input type="text" class="border-0 text-right" placeholder="请输入职位名称"v-model='data.job'>
      </div>
    </div>

    <div class="row bg-white f-s-9 pt-2 pb-2 bor-b-sol bor-f1">
      <div class="col-4">开始时间</div>
      <div class="col-8 text-right">
        <input type="date" v-model='data.start'>
      </div>
    </div>

    <div class="row bg-white f-s-9 pt-2 pb-2 bor-b-sol bor-f1">
      <div class="col-4">结束时间</div>
      <div class="col-8 text-right">
        <input type="date" v-model='data.end'>
      </div>
    </div>

    <div class="row bg-white f-s-9 pt-2 pb-2">
      <a @click='next' class="btn br-0 bg-primary t-c-white m-10-auto" >保存</a>
    </div>
 </div>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data:{},
    experience:[]
  },
  mounted () {
  },
  methods: {
    next(){
      // 另一个页面传进来的值
      this.data.rid = 1
      this.data.start=(parseInt(new Date(this.data.start).getTime().toString().substr(0, 10)))
      this.data.end=(parseInt(new Date(this.data.end).getTime().toString().substr(0, 10)))
      console.log(this.data)
      this.ajax.post('/add/experience', this.data,(res) => {
        console.log('提交成功')
        window.history.go(-1)
      }, (res) => {
        console.log(res.errmsg)
      })
    }
  }
})
</script>