<%- tname %>
<div class="p-x-10 m-t-46 bg-white">
  <div class="f-s-9  bor-b-sol bor-eae pt-2 pb-2 w-100">
    <span class='bor-r-sol bor-f6 w-25 dinb'>公司名称</span>
    <input type="text" class="border-0 w-70 text-right" placeholder="请输入公司名称" v-model='data.company'>
  </div>

  <div class="f-s-9  bor-b-sol bor-eae pt-2 pb-2 w-100">
    <span class='bor-r-sol bor-f6 w-25 dinb'>职位名称</span>
    <input type="text" class="border-0 w-70 text-right" placeholder="请输入职位名称" v-model='data.job'>
  </div>

  <div class="f-s-9  bor-b-sol bor-eae pt-2 pb-2">
    <span class='bor-r-sol bor-f6 w-25 dinb'>开始时间</span>
    <input type="date" v-model='data.start' class="border-0 w-40 text-right float-right bg-ef br-3 h-24 w-40 t-c-666 f-s-f14 p-l-2">
  </div>

  <div class="f-s-9  bor-b-sol bor-eae pt-2 pb-2">
    <span class='bor-r-sol bor-f6 w-25 dinb'>结束时间</span>
    <input type="date" v-model='data.end' class="border-0 w-40 text-right float-right bg-ef br-3 h-24 w-40 t-c-666 f-s-f14 p-l-2">
  </div>
</div>
<div class="text-center">
  <button @click='next' class="btn bg-00b t-c-white m-t-10 p-x-30">保存</button>
</div>
<!--失败弹层-->
<div class="weui-toast weui-animate-fade-in dn" style='padding-top:22px' id='fail'>
  <i class="weui-icon_toast icon f-s-f45 t-c-white m-y-10">&#xe82c;</i> 
  <p class="weui-toast__content">请将信息填写完整！</p > 
</div>
<script>
new Vue({
  el: '#app',
  data: {
    data:{},
    experience:[],
    name:'添加工作经历'
  },
  mounted () {
  },
  methods: {
    next(){
      if(this.data.company == '' || this.data.job == '' || !this.data.start || !this.data.end){
        document.getElementById('fail').style.display = 'block'
        setTimeout("document.getElementById('fail').style.display='none'",1500)
        return
      }
      this.data.start=(parseInt(new Date(this.data.start).getTime().toString().substr(0, 10)))
      this.data.end=(parseInt(new Date(this.data.end).getTime().toString().substr(0, 10)))
      this.ajax.post('/add/experience', this.data,(res) => {
        weui.toast('提交成功', 2000);
      if(this.query.get('type')){
        setTimeout(function () { window.location.href='/front/jobseeker/assess_ok'}, 2000)
      }else{
         setTimeout(function () { window.location.href='/front/jobseeker/resume_detail'}, 2000)
      }

      }, (res) => {
        console.log(res.errmsg)
      })
    }
  }
})
</script>